<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="clients-list">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#technology">科技进步奖形式审查表</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#technology1">科技创新团队形式审查表</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#technology2">先进个人形式审查表</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="technology" class="tab-pane active">
                        <div class="full-height-scroll">
                            <div class="table-responsive">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>科技进步奖申报材料形式审查表</h5>
                                            <div class="ibox-tools">
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div style="overflow:scroll;">
                                                <table class="table table-bordered" style="width:3000px">
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="2" style="width: 100px;">序号</th>
                                                            <th rowspan="2" style="width: 200px;">申报单位</th>
                                                            <th rowspan="2" style="width: 350px;">申报成果名称</th>
                                                            <th rowspan="2" style="width: 200px;">申报书</th>
                                                            <th rowspan="2" style="width: 200px;">研究报告</th>
                                                            <th colspan="14" style="text-align: center;">附件</th>
                                                            <th colspan="4" style="text-align: center;">审查结论</th>
                                                            <th rowspan="2" style="width: 1000px;">主要完成人</th>
                                                        </tr>
                                                        <tr>
                                                            <th style="width: 160px;">成果立项文件</th>
                                                            <th style="width: 160px;">成果验收报告</th>
                                                            <th style="width: 200px;">科技成果鉴定证书</th>
                                                            <th style="width: 500px;">成果鉴定等级</th>
                                                            <th style="width: 500px;">知识产权证明数量</th>
                                                            <th style="width: 150px;">查新报告</th>
                                                            <th style="width: 150px;">其它证明</th>
                                                            <th style="width: 150px;">成果形成的国标、行标</th>
                                                            <th style="width: 250px;">检测报告</th>
                                                            <th style="width: 400px;">检测报告出具单位</th>
                                                            <th style="width: 250px;">成果应用证明 </th>
                                                            <th style="width: 500px;">成果应用时间</th>
                                                            <th style="width: 150px;">应用单位数量</th>
                                                            <th style="width: 150px;">完成人名单排序表等</th>
                                                            <th style="width: 150px;">参评</th>
                                                            <th style="width: 150px;">完善后参评</th>
                                                            <th style="width: 150px;">不评</th>
                                                            <th style="width: 150px;">缓评</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>中国石油天然气第一建设有限公司</td>
                                                            <td>特大型吊装系统技术研究与应用</td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td>达到国际领先水平</td>
                                                            <td>共10项，其中4项发明专利，3项实用新型专利，2项专有技术，1项软件著作权</td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td>河南省特种设备安全检测研究院</td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td>2016-2018</td>
                                                            <td>4</td>
                                                            <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                                            <td>
                                                                <div class="radio i-checks">
                                                                    <label>
                                                                        <input type="radio" value="option1" name="q">
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="radio i-checks">
                                                                    <label>
                                                                        <input type="radio" value="option1" name="q">
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="radio i-checks">
                                                                    <label>
                                                                        <input type="radio" value="option1" name="q">
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="radio i-checks">
                                                                    <label>
                                                                        <input type="radio" value="option1" name="q">
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                宋明全、徐志刚、李睿、王启宇、罗兴齐、李清君、粘桂莲、
                                                                李景乐、谭敬伟、王国祥、王琦、韩晓民、牛龙哲、刘云、
                                                                刘卫星、王智乐、杨志杰、戚东东
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>企业待审核材料</h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li>
                                                        <a href="table_basic.html#">选项1</a>
                                                    </li>
                                                    <li>
                                                        <a href="table_basic.html#">选项2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content" style="overflow:scroll">
                                            <div class="wrapper wrapper-content">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="ibox float-e-margins">
                                                            <div class="ibox-content">
                                                                <div class="file-manager">
                                                                    <h5>申报材料分类</h5>
                                                                    <ul class="folder-list" style="padding: 0">
                                                                        <li><a href="" ><i class="fa fa-folder"></i> 申报书</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 研究报告</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 成果立项文件</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 成果验收报告</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 科技成果鉴定证书</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 查新报告</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 其它证明</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 成果形成的国标、行标</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 检测报告</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 成果应用证明</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 完成人名单排序表等</a>
                                                                        </li>
                                                                    </ul>

                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9 animated fadeInRight">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="fa fa-file"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Document_2014.doc
                                                                                <br/>
                                                                                <small>添加时间：2014-10-13</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="">
                                                                            <span class="corner"></span>
                                                                            <div class="icon">
                                                                                <i class="fa fa-file"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Document_2014.doc
                                                                                <br/>
                                                                                <small>添加时间：2014-10-13</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script src="/js/jquery.min.js?v=2.1.4"></script>
                                            <script src="/js/bootstrap.min.js?v=3.3.6"></script>
                                            <script src="/js/content.min.js?v=1.0.0"></script>
                                            <script>
                                                $(document).ready(function(){$(".file-box").each(function(){animationHover(this,"pulse")})});
                                            </script>
                                            <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="technology1" class="tab-pane">
                        <div class="full-height-scroll">
                            <div class="table-responsive">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>科技创新先进团队申报材料形式审查表</h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li>
                                                        <a href="table_basic.html#">选项1</a>
                                                    </li>
                                                    <li>
                                                        <a href="table_basic.html#">选项2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content" style="overflow:scroll">
                                            <table class="table table-bordered" style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" style="width: 100px;">序号</th>
                                                        <th rowspan="2" style="width: 200px;">编码</th>
                                                        <th rowspan="2" style="width: 350px;">申报单位</th>
                                                        <th rowspan="2" style="width: 200px;">申报团队名称</th>
                                                        <th rowspan="2" style="width: 200px;">3年以上稳定合作</th>
                                                        <th rowspan="2" style="width: 200px;">技术专家（具有高级职称，必要条件）</th>
                                                        <th rowspan="2" style="width: 200px;">科技奖励</th>
                                                        <th rowspan="2" style="width: 200px;">知识产权证书</th>
                                                        <th rowspan="2" style="width: 200px;">论文、论著证明</th>
                                                        <th rowspan="2" style="width: 200px;">科技成果应用证明</th>
                                                        <th colspan="2" style="text-align: center;">若为企事业单位</th>
                                                        <th colspan="4" style="text-align: center;">审查结论</th>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 160px;">营业执照</th>
                                                        <th style="width: 160px;">质量、安全环保证明</th>
                                                        <th style="width: 150px;">参评</th>
                                                        <th style="width: 150px;">完善后参评</th>
                                                        <th style="width: 150px;">不评</th>
                                                        <th style="width: 150px;">缓评</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td></td>
                                                        <td>中国石油工程建设有限公司西南分公司</td>
                                                        <td>国家能源净化天然气技术研发中心净化所</td>
                                                        <td>是</td>
                                                        <td>23人</td>
                                                        <td>有</td>
                                                        <td>有</td>
                                                        <td>有</td>
                                                        <td>有</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <div class="radio i-checks">
                                                                <label>
                                                                    <input type="radio" value="option1" name="q">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="radio i-checks">
                                                                <label>
                                                                    <input type="radio" value="option1" name="q">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="radio i-checks">
                                                                <label>
                                                                    <input type="radio" value="option1" name="q">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="radio i-checks">
                                                                <label>
                                                                    <input type="radio" value="option1" name="q">
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>企业待审核材料</h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li><a href="table_basic.html#">选项1</a>
                                                    </li>
                                                    <li><a href="table_basic.html#">选项2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content" style="overflow:scroll">
                                            <div class="wrapper wrapper-content">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="ibox float-e-margins">
                                                            <div class="ibox-content">
                                                                <div class="file-manager">
                                                                    <h5>申报材料分类</h5>
                                                                    <ul class="folder-list" style="padding: 0">
                                                                        <li><a href="" ><i class="fa fa-folder"></i> 科技奖励</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 知识产权证书</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 论文、论著证明</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 科技成果应用证明</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 营业执照</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 质量、安全环保证明</a>
                                                                        </li>
                                                                    </ul>

                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9 animated fadeInRight">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="fa fa-file"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Document_2014.doc
                                                                                <br/>
                                                                                <small>添加时间：2014-10-13</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="">
                                                                            <span class="corner"></span>
                                                                            <div class="icon">
                                                                                <i class="fa fa-file"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Document_2014.doc
                                                                                <br/>
                                                                                <small>添加时间：2014-10-13</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script src="/js/jquery.min.js?v=2.1.4"></script>
                                            <script src="/js/bootstrap.min.js?v=3.3.6"></script>
                                            <script src="/js/content.min.js?v=1.0.0"></script>
                                            <script>
                                                $(document).ready(function(){$(".file-box").each(function(){animationHover(this,"pulse")})});
                                            </script>
                                            <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="technology2" class="tab-pane">
                        <div class="full-height-scroll">
                            <div class="table-responsive">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>科技创新先进个人形式审查表</h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li>
                                                        <a href="table_basic.html#">选项1</a>
                                                    </li>
                                                    <li>
                                                        <a href="table_basic.html#">选项2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content" style="overflow:scroll">
                                            <table class="table table-bordered" style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" style="width: 100px;">序号</th>
                                                        <th rowspan="2" style="width: 350px;">申报单位</th>
                                                        <th rowspan="2" style="width: 200px;">姓名</th>
                                                        <th rowspan="2" style="width: 200px;">是否受雇申报企业</th>
                                                        <th rowspan="2" style="width: 200px;">是否有违反职业道德行为</th>
                                                        <th rowspan="2" style="width: 200px;">知识产权证明</th>
                                                        <th rowspan="2" style="width: 200px;">科技奖证明</th>
                                                        <th rowspan="2" style="width: 200px;">论著</th>
                                                        <th rowspan="2" style="width: 200px;">标准（工法）</th>
                                                        <th rowspan="2" style="width: 200px;">其它科技荣誉</th>
                                                        <th colspan="4" style="text-align: center;">审查结论</th>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 150px;">参评</th>
                                                        <th style="width: 150px;">完善后参评</th>
                                                        <th style="width: 150px;">不评</th>
                                                        <th style="width: 150px;">缓评</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <div class="radio i-checks">
                                                                <label>
                                                                    <input type="radio" value="option1" name="q">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="radio i-checks">
                                                                <label>
                                                                    <input type="radio" value="option1" name="q">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="radio i-checks">
                                                                <label>
                                                                    <input type="radio" value="option1" name="q">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="radio i-checks">
                                                                <label>
                                                                    <input type="radio" value="option1" name="q">
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>企业待审核材料</h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li><a href="table_basic.html#">选项1</a>
                                                    </li>
                                                    <li><a href="table_basic.html#">选项2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content" style="overflow:scroll">
                                            <div class="wrapper wrapper-content">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="ibox float-e-margins">
                                                            <div class="ibox-content">
                                                                <div class="file-manager">
                                                                    <h5>申报材料分类</h5>
                                                                    <ul class="folder-list" style="padding: 0">
                                                                        <li><a href="" ><i class="fa fa-folder"></i> 知识产权证明</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 科技奖证明</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 论著</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 标准（工法）</a>
                                                                        </li>
                                                                        <li><a href=""><i class="fa fa-folder"></i> 其它科技荣誉</a>
                                                                        </li>
                                                                    </ul>

                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-9 animated fadeInRight">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="">
                                                                            <span class="corner"></span>

                                                                            <div class="icon">
                                                                                <i class="fa fa-file"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Document_2014.doc
                                                                                <br/>
                                                                                <small>添加时间：2014-10-13</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="file-box">
                                                                    <div class="file">
                                                                        <a href="">
                                                                            <span class="corner"></span>
                                                                            <div class="icon">
                                                                                <i class="fa fa-file"></i>
                                                                            </div>
                                                                            <div class="file-name">
                                                                                Document_2014.doc
                                                                                <br/>
                                                                                <small>添加时间：2014-10-13</small>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script src="/js/jquery.min.js?v=2.1.4"></script>
                                            <script src="/js/bootstrap.min.js?v=3.3.6"></script>
                                            <script src="/js/content.min.js?v=1.0.0"></script>
                                            <script>
                                                $(document).ready(function(){$(".file-box").each(function(){animationHover(this,"pulse")})});
                                            </script>
                                            <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="/js/content.min.js?v=1.0.0"></script>
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/js/demo/peity-demo.min.js"></script>
    <script>
        $(document).ready(function () { $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", }) });

        $("table tbody tr td").click(function () {
            if (this.children.length == 0) {
                var value = this.outerText;
                this.innerHTML = "<textarea name='comment' class='form-control' aria-required='true' onblur='change(this)'></textarea>";
                parents = this;
                $("textarea").focus().val(value);
            }
        });
        function change(e) {
            parents.innerText = e.value;
            $(e).remove();
        };


    </script>
    <div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/act/award/award_task_list.js?v=1.3"></script>
<!--
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
-->
</body>

<!-- Mirrored from www.zi-han.net/theme/hplus/table_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:01 GMT -->
</html>
