<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <input type="hidden" id="taskId" th:value="${taskId}"/>
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
<!--                    // 勘察奖专家分组新增、编辑、删除-cxq-->
                    <div class="columns pull-left">
                        <button type="button" class="btn btn-primary" onclick="add()">
                            <i class="fa fa-plus"></i> 新增专家分组
                        </button>
                        <button type="button" class="btn btn-success" onclick="openImportExpertGroup()">
                            <i class="fa fa-upload"></i> 上传专家分组
                        </button>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/act/award/expert_group_manage.js"></script>
</body>
</html>
