
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">



<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>石油工程建设科技进步奖专业评审推荐意见表</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="table_basic.html#">选项1</a>
                                </li>
                                <li>
                                    <a href="table_basic.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                <button type="button" class="btn btn-sm btn-primary"> 新增</button>
                                <button type="button" class="btn btn-sm btn-primary"> 删除</button>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:50px;"></th>
                                        <th style="width:50px;">#</th>
                                        <th>初评专业组</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td  style="width:10px;" align="center" valign="middle">
                                            <input type="checkbox" class="i-checks" name="input[]">
                                        </td>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            炼化及综合组
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="js/jquery.min.js?v=2.1.4"></script>
        <script src="js/bootstrap.min.js?v=3.3.6"></script>
        <script src="js/plugins/peity/jquery.peity.min.js"></script>
        <script src="js/content.min.js?v=1.0.0"></script>
        <script src="js/plugins/iCheck/icheck.min.js"></script>
        <script src="js/demo/peity-demo.min.js"></script>
        <script>
            $(document).ready(function () { $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", }) });
        </script>
<!--
        <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
-->
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/table_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:01 GMT -->
</html>
