<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
    pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
</style>
<body class="gray-bg">

<div class="ui container">
    <div class="ui bottom attached segment">
        <h2 class="ui center aligned header">专家评审意见表</h2>
        <table class="ui celled table">
            <tbody>
            <tr>
                <td style="text-align:center;width:16%">项目名称</td>
                <td style="text-align:center;width:48%" colspan="3" th:text="${proInfo.chengguo}"></td>
                <td style="text-align:center;width:16%">申报单位</td>
                <td style="text-align:center;width:16%" th:text="${proInfo.enterpriseName}"></td>
            </tr>
            <tr style="height:53px">
                <td style="text-align:center;vertical-align:middle;width:16%">申报类型</td>
                <td style="text-align:center;vertical-align:middle;width:16%">科技奖</td>
                <td style="text-align:center;vertical-align:middle;width:16%">初评专业组</td>
                <td style="text-align:center;vertical-align:middle;width:16%" th:text="${proInfo.major}"></td>
                <td style="text-align:center;vertical-align:middle;width:16%" >是否推荐</td>
                <td style="text-align:center;vertical-align:middle;width:16%" th:text="${proScoreInfo.opinionLevel}"></td>
            </tr>
            <tr>
                <td style="width:16%;" colspan="6">专家评审意见：
                    <pre th:text="${proScoreInfo.opinionText}"></pre>
                    <br />
                    <div style="text-align:right;padding-bottom:10px;">专家签字：<img th:src="${proScoreInfo.signUrl}" width="75" height="40">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${#dates.format(proScoreInfo.created,'yyyy年MM月dd日')}"></span></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




<div th:include="include :: footer"></div>

<script>
    $(function(){$(".full-height-scroll").slimScroll({height:"100%"})});
</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>


</body>
</html>