<!DOCTYPE html>
<!-- 专业组管理-->
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head th:include="include :: header"></head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12" style="margin-bottom:10px;">
                <h2 style="display:inline-block; margin:0 15px 0 0;">专业组管理</h2>
                <button type="button" class="btn btn-warning btn-sm" onclick="resetAllEliminate()">
                    <i class="fa fa-refresh"></i> 更新分组
                </button>
            </div>
        </div>
        <div class="row">
            <input id="taskId" name="taskId" type="hidden" th:value="${taskId}">
            <input id="proType" name="proType" type="hidden" th:value="${proType}">
            <!--  QC 奖评审专业组管理页面的左侧分组导航栏    -->
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <ul class="folder-list" style="padding: 0">
                            <!--   显示全部   -->
                            <li>
                                <a href="javascript:showMajorAccount('')" style="display:inline-block"><i class="fa fa-folder"></i>全部 &nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </li>
                            <!--   按专业组筛选   -->
                            <li th:each="group : ${qcGroupList}">
                                <!--   通过 showMajorAccount(组名) 函数切换不同专业组的项目列表   -->
                                <a th:href="'javascript:showMajorAccount(\'' + ${group.name} + '\')'" style="display:inline-block">
                                    <i class="fa fa-folder"></i>
                                    <span th:text="${group.name}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                                <!--   通过 add(组名) 函数为该组添加新项目   -->
                                <a th:href="'javascript:add(\'' + ${group.name} + '\')'" style="display:inline-block"><i class="fa fa-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" style="margin-top:0;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 style="display:inline-block;">已分配：</h5>
<!--                        原代码：更新分组按钮已移至页面顶部标题旁-->
<!--                        <button type="button" class="btn btn-warning btn-sm pull-right" onclick="resetAllEliminate()">-->
<!--                            <i class="fa fa-refresh"></i> 更新分组-->
<!--                        </button>-->
<!--                        <button type="button" class="btn btn-danger btn-sm" onclick="showGroupEliminated()" style="margin-left:10px;">-->
<!--                            <i class="fa fa-ban"></i> 导出淘汰-->
<!--                        </button>-->
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="i-checks" name="input[]"></th>
                                    <th>序号</th>
                                    <!--   QC是按照分组显示   -->
                                    <th>分组</th>
                                    <th>账号</th>
                                    <th>专家名称</th>
                                    <th>工作单位</th>
<!--                                    <th>银行账号</th>-->
<!--                                    <th>手机号</th>-->
                                    <th>签章</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="list">
                                  <tr th:each="sel,selStat:${selInfoList}" th:id="'tr_' + ${sel.loginAccount}">
                                      <th><input type="checkbox" class="i-checks" name="input[]"></th>
                                      <td name='trNum' th:text="${selStat.count}"></td>
                                      <input type='hidden' th:value ='${sel.groupName}' name="major" th:id="'majorName' + ${sel.loginAccount}" />
                                      <input type='hidden' th:value ='${sel.isGroupLeader}' name="isGroupLeader" th:id="'isGroupLeader' + ${sel.loginAccount}" />
                                      <input type='hidden' th:value ='${sel.userId}' name="expertUserId" th:id="'expertUserId' + ${sel.loginAccount}" />
                                      <td th:text="${sel.groupName}"></td>
                                      <td th:text="${sel.loginAccount}" th:id="'accountId' + ${sel.loginAccount}"></td>
                                      <td ><input th:value="${sel.expertName}" type="text" class="form-control" placeholder="专家名称" th:id="'accountName'+${sel.loginAccount}"></td>
                                      <td ><input th:value="${sel.company}" th:id="'accountCom' + ${sel.loginAccount}" class="form-control" type="text" placeholder="工作单位"></td>
<!--                                      <td ><input th:value="${sel.bankAccount}" th:id="'accountBank' + ${sel.loginAccount}" class="form-control" type="text" placeholder="银行账户"></td>-->
<!--                                      <td ><input th:value="${sel.phone}" th:id="'accountPhone' + ${sel.loginAccount}" class="form-control" type="text" placeholder="手机号"></td>-->
                                      <td th:id="'signImg_'+${sel.loginAccount}"><img th:if="${sel.expertSignUrl != null}" th:src="${sel.expertSignUrl}" width='75' height='40'></td>
                                      <td>
                                          <!--   <button th:id="'saveBtn_'+${sel.loginAccount}" type="button" class="btn btn-primary btn-xs" th:onclick="'javascript:save('+${sel.loginAccount}+')'">更新</button>-->
                                          <!-- 原代码：loginAccount未加引号，含字母的账号会导致JS语法错误 -->
                                          <!-- <button type="button" class="btn btn-primary btn-xs" th:onclick="'javascript:onAddSign('+${sel.loginAccount}+')'">上传签章</button> -->
                                          <!-- <button type="button" class="btn btn-primary btn-xs" th:onclick="'javascript:remove('+${sel.loginAccount}+')'">移出</button> -->
                                          <!-- 新代码：loginAccount加引号，避免含字母账号的语法错误 -->
                                          <button th:id="'saveBtn_'+${sel.loginAccount}" type="button" class="btn btn-primary btn-xs" th:onclick="'javascript:save(\'' + ${sel.loginAccount} + '\')'">更新</button>
                                          <button type="button" class="btn btn-primary btn-xs" th:onclick="'javascript:onAddSign(\'' + ${sel.loginAccount} + '\')'">上传签章</button>
                                          <button type="button" class="btn btn-primary btn-xs" th:onclick="'javascript:remove(\'' + ${sel.loginAccount} + '\')'">移出</button>
                                          <button type="button" class="btn btn-warning btn-xs" th:onclick="'javascript:manageAvoidance(\'' + ${sel.loginAccount} + '\')'">回避</button>
                                          <button type="button" class="btn btn-success btn-xs" th:onclick="'javascript:exportExpertEliminateWord(\'' + ${sel.userId} + '\', \'' + ${sel.expertName} + '\')'">导出淘汰</button>
                                      </td>
                                  </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 回避管理弹窗（供layer.open使用） -->
    <div id="avoidanceModal" style="display:none; padding: 20px;">
        <input type="hidden" id="currentExpertUserId" />
        
        <!-- 筛选条件 -->
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-3">
                <input type="text" class="form-control" id="avoidance_filter_topicName" placeholder="项目名称">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="avoidance_filter_proCode" placeholder="申报账号">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="avoidance_filter_unitName" placeholder="申报单位">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="avoidance_filter_groupDesc" placeholder="完成单位">
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-3">
                <select class="form-control" id="avoidance_filter_status">
                    <option value="">状态 - 全选</option>
                    <option value="1">已回避</option>
                    <option value="0">未回避</option>
                </select>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary btn-sm" onclick="applyAvoidanceFilters()">筛选</button>
                <button class="btn btn-default btn-sm" onclick="clearAvoidanceFilters()">重置</button>
            </div>
        </div>
        
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>项目名称</th>
                    <th>申报账号</th>
                    <th>申报单位</th>
                    <th>完成单位</th>
                    <th>状态</th>
                    <th>回避状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="avoidanceTableBody">
                <tr><td colspan="7" class="text-center">加载中...</td></tr>
            </tbody>
        </table>
    </div>
    
    <!-- 淘汰名单弹窗 -->
    <div id="eliminatedModal" style="display:none; padding: 20px;">
        <div style="margin-bottom:10px;">
            <span id="eliminatedGroupTitle" style="font-weight:bold;"></span>
            <button class="btn btn-success btn-sm" onclick="exportGroupEliminatedExcel()" style="margin-left:15px;"><i class="fa fa-download"></i> 导出Excel</button>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>申报账号</th>
                    <th>课题名称</th>
                    <th>小组名称</th>
                    <th>申报单位</th>
                    <th>专家名称</th>
                    <th>淘汰意见</th>
                </tr>
            </thead>
            <tbody id="eliminatedTableBody">
                <tr><td colspan="7" class="text-center">暂无数据</td></tr>
            </tbody>
        </table>
    </div>

    <div th:include="include :: footer"></div>
    <script type="text/javascript">
        $(document).ready(function () { $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", }) });

        function getYearMonth() {
            var date = new Date;
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            month = (month < 10 ? "0" + month : month);
            return mydate = (year.toString() + month.toString());
        }

        var currentGroupName = '';
        function showMajorAccount(major) {
            currentGroupName = major;
            $("#list tr").each(function(index, ele){
                let mVal = $(this).find("input[name='major']").val()
                if(major == mVal || major == '') {
                    $(this).show();
                }else {
                    $(this).hide();
                }
            });
        }

        function add(major) {

            var items = ['1', '2', '4', '5', '6', '7', '8', '9', '10', 'a', 'b', 'c', 'e', 'g', 's', '1', 'q', 'f', 'A'];

            var aindex = ($("#list").children().length + 1);

            // console.log("----== " + major);

            //var raondom = getYearMonth() + '03' + aindex + items[Math.floor(Math.random() * items.length)];
            var raondom = getYearMonth() + "_" + Math.random().toString(36).substr(2, 7);
            let loginAccount = raondom;


            console.log("----" + raondom)

            var html = " <tr id='tr_"+loginAccount+"'>" +
                "             <td style=\"width:50px\">"+
                "                 <input type=\"checkbox\" class=\"i-checks\" name=\"input[]\">"+
                "             </td>"+
                "             <td name='trNum' style=\"width:50px\">" + aindex + "</td>" +
                "             <td style=\"width:50px\"><input type='hidden' name=\"major\" value='"+major+"' id='majorName"+loginAccount+"' /><input type='hidden' name=\"isGroupLeader\" value='0' id='isGroupLeader"+loginAccount+"' /><input type='hidden' name=\"expertUserId\" value='' id='expertUserId"+loginAccount+"' /> " + major + "</td>" +
                "             <td style=\"width:120px\" id=\"accountId" + loginAccount + "\">" + raondom + " </td>" +
                "             <td style=\"width:120px\"contentEditable=\"true\"> " +
                "                 <input type='text' class=\"form-control\" placeholder='专家名称' id='accountName" + loginAccount + "'/> " +
                "             </td>" +
                "             <td style=\"width:120px\"contentEditable=\"true\"><input id='accountCom" + loginAccount +
                "' class=\"form-control\" type='text' placeholder='工作单位'></td>" +
                "             <td id='signImg_"+loginAccount+"' style=\"width:120px\"></td>" +
                "             <td style=\"width:200px\">" +
                "              <button id='saveBtn_"+loginAccount+"' type=\"button\" class=\"btn btn-primary btn-xs\" onclick='save(\"" + loginAccount + "\")'  >保存</button>" +
                "              <button type=\"button\" class=\"btn btn-primary btn-xs\" onclick='onAddSign(\"" + loginAccount + "\")'>上传签章</button>" +
                "              <button type=\"button\" class=\"btn btn-primary btn-xs\" onclick='remove(\"" + loginAccount + "\")' >移出</button>" +
                "              <button type=\"button\" class=\"btn btn-warning btn-xs\" onclick='manageAvoidance(\"" + loginAccount + "\")' >回避</button>" +
                "             </td>" +
                "         </tr>";
            $("#list").append(html);



            $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
        }


        /***
         * 删除某个条目/移出专家
         * @param a
         */
        // 原代码（v3）：直接移出，无二次确认，物理删除
        // function remove(a) {
        //     let loginAccount = $.trim($("#accountId" + a).text());
        //     console.log("[移出] 参数a=" + a + ", 选择器=#accountId" + a + ", loginAccount=[" + loginAccount + "]");
        //     $.ajax({
        //         cache: true,
        //         url: "/qcProcess/expert/remove",
        //         type: 'POST',
        //         data: { loginAccount:loginAccount },
        //         async: false,
        //         error: function (request) {
        //             parent.layer.alert("Connection error");
        //         },
        //         success: function (data) {
        //             if (data.code == 0) {
        //                 parent.layer.msg("操作成功");
        //                 $("#tr_"+a).remove();
        //                 $("td[name = 'trNum']").each(function (index,e) {
        //                     $(this).html(index+1);
        //                 })
        //             } else {
        //                 parent.layer.alert(data.msg)
        //             }
        //         }
        //     })
        // }
        // 新代码（v4）：先检查专家是否有淘汰数据，弹窗二次确认后再软删除
        function remove(a) {
            let loginAccount = $.trim($("#accountId" + a).text());
            let taskId = $("#taskId").val();
            if (!loginAccount) {
                layer.msg('账号为空', {icon: 2});
                return;
            }
            // 先检查是否有淘汰数据
            $.ajax({
                type: "GET",
                url: "/qcProcess/expert/checkData",
                data: { loginAccount: loginAccount, taskId: taskId },
                success: function(checkResult) {
                    var confirmMsg = "确定要移出专家 [" + loginAccount + "] 吗？";
                    if (checkResult.code == 0 && checkResult.hasEliminate) {
                        confirmMsg = "该专家已有淘汰数据（" + (checkResult.elimCount || 0) + "条淘汰, " + (checkResult.confirmedCount || 0) + "条已确认快照），确定要移出吗？\n移出后数据保留，可通过重新添加恢复。";
                    }
                    layer.confirm(confirmMsg, {icon: 3, title: '移出确认'}, function(index) {
                        layer.close(index);
                        doRemoveExpert(a, loginAccount);
                    });
                },
                error: function() {
                    // 检查接口失败，仍允许移出但给基础确认
                    layer.confirm("确定要移出专家 [" + loginAccount + "] 吗？", {icon: 3, title: '移出确认'}, function(index) {
                        layer.close(index);
                        doRemoveExpert(a, loginAccount);
                    });
                }
            });
        }
        // 执行移出操作（软删除）
        function doRemoveExpert(a, loginAccount) {
            $.ajax({
                cache: true,
                url: "/qcProcess/expert/remove",
                type: 'POST',
                data: { loginAccount: loginAccount },
                async: false,
                error: function (request) {
                    parent.layer.alert("Connection error");
                },
                success: function (data) {
                    if (data.code == 0) {
                        parent.layer.msg("操作成功（逻辑删除，数据已保留）");
                        $("#tr_"+a).remove();
                        $("td[name = 'trNum']").each(function (index,e) {
                            $(this).html(index+1);
                        })
                    } else {
                        parent.layer.alert(data.msg)
                    }
                }
            })
        }

        /***
         * 删除某个条目
         * @param a
         */
        function onAddSign(a) {

            let taskId = $("#taskId").val();
            // 原代码：.html()可能包含尾部空格
            // var loginAccount = $("#accountId" + a).html();
            // 新代码：使用.text().trim()
            var loginAccount = $.trim($("#accountId" + a).text());
            let saveBtnHtml = $("#saveBtn_" + a).html();

            if(saveBtnHtml != "保存") {
                toUploadSignImg(taskId, loginAccount, a);
                return;
            }

            save(a, function () {
                toUploadSignImg(taskId, loginAccount, a);
            });

        }
        function toUploadSignImg(taskId, loginAccount, a) {
            layer.open({
                title: '上传转件签名 ',
                maxmin: true,
                type: 2,
                shadeClose: false, // 点击遮罩关闭层
                area: ['800px', '520px'],
                // content: '/scienceProgressScience/toUploadExpertSign?taskId='+taskId+'&loginAccount=' + loginAccount+"&trIndex="+a
                content: '/qcProcess/toUploadExpertSign?taskId='+taskId+'&loginAccount=' + loginAccount+"&trIndex="+a
            });
        }


        /***
         * 保存专家名字
         * @param a
         */
        function save(a,callback) {
            var fd = {
                // 原代码：.html()可能包含尾部空格导致用户名带空格入库
                // "username": $("#accountId" + a).html(),
                // 新代码：使用.text().trim()确保用户名无多余空格
                "username": $.trim($("#accountId" + a).text()),
                "password": "123456",
                "name": $("#accountName" + a).val(),
                "bankCard": $("#accountBank" + a).val(),
                "mobile": $("#accountPhone" + a).val(),
                "roleIds": "85",  // 新代码：使用QC奖评审专家角色
                "status": "1",
                "accountCom":$("#accountCom" + a).val()
            };
            // console.log("保存专家数据" + JSON.stringify(fd) + fd);
            $.ajax({
                cache: true,
                url: "/sys/user/savepro",
                type: 'POST',
                data: fd,
                async: false,
                error: function (request) {
                    // layui 框架
                    parent.layer.alert("Connection error");
                },
                success: function (data) {
                    if (data.code == 0) {
                        // parent.layer.msg("操作成功");
                        // console.log(data.msg + "userid");
                        // 原代码：.get(0)返回DOM元素而非jQuery对象，调用.find()会报TypeError崩溃，导致saveExpertInfo永远不会被调用
                        // var isLeader = a == $("#list").find("tr").get(0).find("td").get(2).html();
                        // 新代码：使用jQuery的.eq()方法代替.get()，并增加异常保护
                        var isLeader = false;
                        var majorName = $("#majorName"+a).val();
                        try {
                            var leaderVal = $("#isGroupLeader" + a).val();
                            isLeader = ('' + leaderVal) === '1';
                        } catch(e) {
                            console.log('判断isLeader异常:', e);
                            isLeader = false;
                        }
                        saveExpertInfo(data.msg,isLeader,majorName, fd, a, callback);

                    } else {
                        parent.layer.alert(data.msg)
                    }
                }
            })
        }

        /***
         * 保存对应的专业信息/专业组
         * @param uid
         */
        function saveExpertInfo(uid,isLeader,majorName, userFd, trIndex, callback) {
            // console.log("== this.selfProfession =" + uid);
            var proType = $("#proType").val();  //获取选中的项
            var fd = {
                "userName": majorName,
                "taskId": $("#taskId").val(),
                "userId": uid,
                "proId": "0",
                "isGroupLeader": isLeader ? 1 : 0,
                "groupName": majorName,
                "company": userFd.accountCom,
                "bankAccount": userFd.bankCard,
                "phone": userFd.mobile,
                "expertName":userFd.name,
                "loginAccount":userFd.username,
                "proType":proType
            };
            console.log("===" + JSON.stringify(fd));

            $.ajax({
                cache: true,
                url: "/qcProcess/expert/add",
                type: 'POST',
                data: fd,
                async: false,
                error: function (request) {
                    parent.layer.alert("Connection error");
                },
                success: function (data) {
                    if (data.code == 0) {
                        $("#saveBtn_" + trIndex).html("更新");
                        // 保存userId到隐藏字段，供回避功能使用
                        if (data.id) {
                            $("#expertUserId" + trIndex).val(data.id);
                        }
                        // $("#saveBtn_" + trIndex).remove();
                        if(callback) {
                            callback();
                        }else {
                            parent.layer.msg("操作成功");
                        }
                    } else {
                        parent.layer.alert(data.msg)
                    }

                }
            })


        }

        function showSpeclist(major) {
            var proType = $("#proType").val();  //获取选中的项
            let taskId = $("#taskId").val();
            // window.location.href= "/scienceProgressScience/toAssignExperts?taskId=" + taskId + "&major=" + major + "&proType=" + proType;
            window.location.href= "/qcProcess/toAddSpecialist?taskId=" + taskId + "&major=" + major + "&proType=" + proType;
        }

        // ==================== 回避管理功能 ====================
        var currentExpertUserId = null;
        var currentExpertLoginAccount = null;

        /**
         * 打开回避管理弹窗
         */
        function manageAvoidance(loginAccount) {
            var taskId = $("#taskId").val();
            var expertName = $("#accountName" + loginAccount).val() || loginAccount;
            
            // 从DOM读取userId
            var expertUserId = $("#expertUserId" + loginAccount).val();
            
            // console.log('[回避] loginAccount=' + loginAccount + ', expertUserId=' + expertUserId);
            
            if (!expertUserId || expertUserId === 'null' || expertUserId === '') {
                layer.alert("无法获取专家用户ID，请先保存专家信息");
                return;
            }
            
            currentExpertUserId = expertUserId;
            currentExpertLoginAccount = loginAccount;
            
            // 使用layer.open显示弹窗
            layer.open({
                type: 1,
                title: '专家回避管理 - ' + expertName,
                area: ['1100px', '600px'],
                content: $('#avoidanceModal'),
                success: function() {
                    // 加载该专家已分配的项目列表
                    loadExpertProjects(taskId, expertUserId);
                }
            });
        }

        // 存储原始项目数据，用于筛选
        var allAvoidanceProjects = [];
        
        /**
         * 加载专家已分配的项目列表
         */
        function loadExpertProjects(taskId, expertUserId) {
            $.ajax({
                type: "GET",
                url: "/qcScore/get/expertProList",
                data: {
                    taskId: taskId,
                    scoreSpecialistUid: expertUserId,
                    limit: 1000,
                    offset: 0
                },
                success: function(data) {
                    if (data && data.rows) {
                        allAvoidanceProjects = data.rows; // 保存原始数据
                        // 回避表格
                        renderAvoidanceTable(data.rows);
                    } else {
                        allAvoidanceProjects = [];
                        $("#avoidanceTableBody").html('<tr><td colspan="5" class="text-center">暂无分配项目</td></tr>');
                    }
                },
                error: function() {
                    parent.layer.alert("加载项目列表失败");
                }
            });
        }

        /**
         * 渲染回避表格
         */
        function renderAvoidanceTable(projects) {
            var tbody = $("#avoidanceTableBody");
            tbody.empty();
            
            if (!projects || projects.length === 0) {
                tbody.html('<tr><td colspan="7" class="text-center">暂无分配项目</td></tr>');
                return;
            }
            
            projects.forEach(function(project) {
                var statusText = getProStatText(project.proStat);
                var isAvoided = project.isAvoided || false;
                var avoidanceStatus = isAvoided ? '<span class="label label-warning">已回避</span>' : '<span class="label label-success">正常</span>';
                
                var operationBtn = '';
                if (isAvoided) {
                    operationBtn = '<button class="btn btn-sm btn-success" onclick="cancelAvoidance(' + project.proId + ')">取消回避</button>';
                } else {
                    operationBtn = '<button class="btn btn-sm btn-warning" onclick="setAvoidance(' + project.proId + ')">设为回避</button>';
                }
                
                var row = '<tr>' +
                    '<td>' + (project.topicName || '-') + '</td>' +
                    '<td>' + (project.applyId || '-') + '</td>' +
                    '<td>' + (project.unitName || '-') + '</td>' +
                    '<td>' + (project.groupDesc || '-') + '</td>' +
                    '<td>' + statusText + '</td>' +
                    '<td>' + avoidanceStatus + '</td>' +
                    '<td>' + operationBtn + '</td>' +
                    '</tr>';
                tbody.append(row);
            });
        }

        /**
         * 获取项目状态文本
         */
        function getProStatText(proStat) {
            var statMap = {
                '': '未提交',
                'check': '审核中',
                'partake_award': '参评',
                'no_award': '不评',
                'delayed_award': '缓评',
                'reject': '已驳回',
                'improve_partake': '完善后参评',
                'eliminated': '已淘汰',
                'to_validate': '审核中',
                'to_assign_experts': '分派专家',
                'experts_score': '专家打分',
                'score': '专家打分'
            };
            return statMap[proStat] || proStat || '-';
        }

        /**
         * 应用筛选条件
         */
        function applyAvoidanceFilters() {
            var filterTopicName = $("#avoidance_filter_topicName").val().toLowerCase();
            var filterProCode = $("#avoidance_filter_proCode").val().toLowerCase();
            var filterUnitName = $("#avoidance_filter_unitName").val().toLowerCase();
            var filterGroupDesc = $("#avoidance_filter_groupDesc").val().toLowerCase();
            var filterStatus = $("#avoidance_filter_status").val();
            
            var filteredProjects = allAvoidanceProjects.filter(function(project) {
                // 项目名称筛选
                if (filterTopicName && (!project.topicName || project.topicName.toLowerCase().indexOf(filterTopicName) === -1)) {
                    return false;
                }
                
                // 申报账号筛选
                if (filterProCode && (!project.applyId || project.applyId.toLowerCase().indexOf(filterProCode) === -1)) {
                    return false;
                }
                
                // 申报单位筛选
                if (filterUnitName && (!project.unitName || project.unitName.toLowerCase().indexOf(filterUnitName) === -1)) {
                    return false;
                }
                
                // 完成单位筛选
                if (filterGroupDesc && (!project.groupDesc || project.groupDesc.toLowerCase().indexOf(filterGroupDesc) === -1)) {
                    return false;
                }
                
                // 回避状态筛选
                if (filterStatus !== "") {
                    var isAvoided = project.isAvoided || false;
                    if (filterStatus === "1" && !isAvoided) {
                        return false;
                    }
                    if (filterStatus === "0" && isAvoided) {
                        return false;
                    }
                }
                
                return true;
            });
            
            renderAvoidanceTable(filteredProjects);
        }

        /**
         * 清空筛选条件
         */
        function clearAvoidanceFilters() {
            $("#avoidance_filter_topicName").val('');
            $("#avoidance_filter_proCode").val('');
            $("#avoidance_filter_unitName").val('');
            $("#avoidance_filter_groupDesc").val('');
            $("#avoidance_filter_status").val('');
            renderAvoidanceTable(allAvoidanceProjects);
        }

        /**
         * 设为回避
         */
        function setAvoidance(proId) {
            var taskId = $("#taskId").val();
            
            layer.confirm('确认将此项目设为回避？', {
                btn: ['确认', '取消']
            }, function(index) {
                $.ajax({
                    type: "POST",
                    url: "/cpe/qcAvoidance/manualAvoid",
                    data: {
                        taskId: taskId,
                        proId: proId,
                        expertUserId: currentExpertUserId,
                        reason: "手动回避"
                    },
                    success: function(data) {
                        if (data.code === 0) {
                            layer.msg("设置成功");
                            loadExpertProjects(taskId, currentExpertUserId);
                        } else {
                            layer.alert(data.msg || "设置失败");
                        }
                    },
                    error: function() {
                        layer.alert("设置回避失败");
                    }
                });
                layer.close(index);
            });
        }

        /**
         * 取消回避
         */
        function cancelAvoidance(proId) {
            var taskId = $("#taskId").val();
            
            layer.confirm('确认取消此项目的回避状态？', {
                btn: ['确认', '取消']
            }, function(index) {
                $.ajax({
                    type: "POST",
                    url: "/cpe/qcAvoidance/cancelAvoid",
                    data: {
                        taskId: taskId,
                        proId: proId,
                        expertUserId: currentExpertUserId
                    },
                    success: function(data) {
                        if (data.code === 0) {
                            layer.msg("取消成功");
                            loadExpertProjects(taskId, currentExpertUserId);
                        } else {
                            layer.alert(data.msg || "取消失败");
                        }
                    },
                    error: function() {
                        layer.alert("取消回避失败");
                    }
                });
                layer.close(index);
            });
        }
        /**
         * 更新分组（重置淘汰）：撤销所有专家的淘汰记录 + 重置淘汰提交状态
         */
        // ==================== 导出淘汰功能 ====================
        var groupEliminatedData = [];
        function showGroupEliminated() {
            var taskId = $("#taskId").val();
            var groupTitle = currentGroupName ? ('分组：' + currentGroupName) : '全部分组';
            $("#eliminatedGroupTitle").text(groupTitle + ' - 淘汰项目列表');
            layer.open({
                type: 1,
                title: '淘汰项目列表',
                area: ['1000px', '600px'],
                content: $('#eliminatedModal'),
                success: function() {
                    loadGroupEliminated(taskId, currentGroupName);
                }
            });
        }

        // 原代码：读取当前有效淘汰记录（会被更新分组影响）
        // function loadGroupEliminated(taskId, qcGroupName) {
        //     var reqData = { taskId: taskId };
        //     if (qcGroupName) {
        //         reqData.qcGroupName = qcGroupName;
        //     }
        //     $.ajax({
        //         type: "GET",
        //         url: "/qcScore/getEliminatedProjects",
        //         data: reqData,
        //         success: function(data) {
        //             if (data && data.code === 0 && data.list && data.list.length > 0) {
        //                 groupEliminatedData = data.list;
        //                 renderGroupEliminatedTable(data.list);
        //             } else {
        //                 groupEliminatedData = [];
        //                 $("#eliminatedTableBody").html('<tr><td colspan="7" class="text-center">暂无淘汰项目</td></tr>');
        //             }
        //         },
        //         error: function() {
        //             layer.alert("加载淘汰项目失败");
        //         }
        //     });
        // }
        // 新代码：读取快照表数据，不受更新分组影响
        function loadGroupEliminated(taskId, qcGroupName) {
            var reqData = { taskId: taskId };
            if (qcGroupName) {
                reqData.qcGroupName = qcGroupName;
            }
            $.ajax({
                type: "GET",
                url: "/qcScore/getConfirmedEliminatedProjects",
                data: reqData,
                success: function(data) {
                    if (data && data.code === 0 && data.list && data.list.length > 0) {
                        groupEliminatedData = data.list;
                        renderGroupEliminatedTable(data.list);
                    } else {
                        groupEliminatedData = [];
                        $("#eliminatedTableBody").html('<tr><td colspan="7" class="text-center">暂无淘汰项目</td></tr>');
                    }
                },
                error: function() {
                    layer.alert("加载淘汰项目失败");
                }
            });
        }

        function renderGroupEliminatedTable(projects) {
            var tbody = $("#eliminatedTableBody");
            tbody.empty();
            projects.forEach(function(item, index) {
                var row = '<tr>' +
                    '<td>' + (index + 1) + '</td>' +
                    '<td>' + (item.proCode || '-') + '</td>' +
                    '<td>' + (item.topicName || '-') + '</td>' +
                    '<td>' + (item.groupName || '-') + '</td>' +
                    '<td>' + (item.companyName || '-') + '</td>' +
                    '<td>' + (item.expertName || '-') + '</td>' +
                    '<td>' + (item.reason || '-') + '</td>' +
                    '</tr>';
                tbody.append(row);
            });
        }

        function exportGroupEliminatedExcel() {
            if (!groupEliminatedData || groupEliminatedData.length === 0) {
                layer.msg('暂无数据可导出', { icon: 2 });
                return;
            }
            function doExport() {
                var header = ['序号', '申报账号', '课题名称', '小组名称', '申报单位', '专家名称', '淘汰意见'];
                var sheetData = [header];
                groupEliminatedData.forEach(function(item, index) {
                    sheetData.push([
                        index + 1,
                        item.proCode || '',
                        item.topicName || '',
                        item.groupName || '',
                        item.companyName || '',
                        item.expertName || '',
                        item.reason || ''
                    ]);
                });
                var ws = XLSX.utils.aoa_to_sheet(sheetData);
                ws['!cols'] = [
                    { wch: 6 }, { wch: 18 }, { wch: 30 }, { wch: 20 },
                    { wch: 25 }, { wch: 12 }, { wch: 40 }
                ];
                var wb = XLSX.utils.book_new();
                var sheetName = currentGroupName ? (currentGroupName + '_淘汰名单') : '淘汰名单';
                XLSX.utils.book_append_sheet(wb, ws, sheetName);
                XLSX.writeFile(wb, sheetName + '.xlsx');
            }
            if (typeof XLSX !== 'undefined') {
                doExport();
            } else {
                var s = document.createElement('script');
                s.src = 'https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js';
                s.onload = function() { doExport(); };
                s.onerror = function() { layer.msg('Excel库加载失败，请检查网络', { icon: 2 }); };
                document.head.appendChild(s);
            }
        }

        function resetAllEliminate() {
            var taskId = $("#taskId").val();
            if (!taskId) {
                layer.msg('任务ID为空', {icon: 2});
                return;
            }
            layer.confirm('确定要撤销该任务下所有专家的淘汰记录吗？此操作不可恢复。', {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    type: "POST",
                    url: "/qcProcess/resetAllEliminate",
                    data: { taskId: taskId },
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg(data.msg, {icon: 1});
                        } else {
                            layer.alert(data.msg);
                        }
                    },
                    error: function () {
                        layer.msg('操作失败，请稍后重试', {icon: 2});
                    }
                });
            });
        }
        // 导出单个专家的淘汰Word文档（初审不合格成果表）
        function exportExpertEliminateWord(expertUid, expertName) {
            var taskId = $("#taskId").val();
            if (!taskId) {
                layer.msg('任务ID为空', {icon: 2});
                return;
            }
            if (!expertUid) {
                layer.msg('专家ID为空', {icon: 2});
                return;
            }
            var url = "/qcProcess/exportEliminateWord?taskId=" + encodeURIComponent(taskId)
                    + "&expertUid=" + encodeURIComponent(expertUid)
                    + "&expertName=" + encodeURIComponent(expertName || '')
                    + "&year=2026";
            window.open(url, '_blank');
        }
    </script>

</body>
</html>
