<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.cpe.petroleum_engineering_award.dao.OilProDesignAwardDao">

	<select id="get" resultType="com.bootdo.cpe.petroleum_engineering_award.domain.OilProDesignAwardDO">
		select `id`,`name_award`,`award_winning_time`,`awarding_unit`,`pro_id`,`task_id`,`apply_id`,`opt_uid`,`created`,`updated` from ass_oil_pro_design_award where id = #{value}
	</select>

	<select id="getByProId" resultType="com.bootdo.cpe.petroleum_engineering_award.domain.OilProDesignAwardDO">
 		select `id`,`name_award`,`award_winning_time`,`awarding_unit`,`pro_id`,`task_id`,`apply_id`,`opt_uid`,
 		`created`,`updated` from ass_oil_pro_design_award where pro_id = #{value} order by id desc limit 1
	</select>

	<select id="list" resultType="com.bootdo.cpe.petroleum_engineering_award.domain.OilProDesignAwardDO">
		select `id`,`name_award`,`award_winning_time`,`awarding_unit`,`pro_id`,`task_id`,`apply_id`,`opt_uid`,`created`,`updated` from ass_oil_pro_design_award
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="engineeDescId != null and engineeDescId != ''"> and enginee_desc_id = #{engineeDescId} </if>
		  		  <if test="nameAward != null and nameAward != ''"> and name_award = #{nameAward} </if>
		  		  <if test="awardWinningTime != null and awardWinningTime != ''"> and award_winning_time = #{awardWinningTime} </if>
		  		  <if test="awardingUnit != null and awardingUnit != ''"> and awarding_unit = #{awardingUnit} </if>
		  		  <if test="proId != null and proId != ''"> and pro_id = #{proId} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id asc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ass_oil_pro_design_award
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="nameAward != null and nameAward != ''"> and name_award = #{nameAward} </if>
		  		  <if test="awardWinningTime != null and awardWinningTime != ''"> and award_winning_time = #{awardWinningTime} </if>
		  		  <if test="awardingUnit != null and awardingUnit != ''"> and awarding_unit = #{awardingUnit} </if>
		  		  <if test="proId != null and proId != ''"> and pro_id = #{proId} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.cpe.petroleum_engineering_award.domain.OilProDesignAwardDO" useGeneratedKeys="true" keyProperty="id">
		insert into ass_oil_pro_design_award
		(
			`name_award`,
			`award_winning_time`, 
			`awarding_unit`, 
			`pro_id`, 
			`task_id`, 
			`apply_id`, 
			`opt_uid`, 
			`created`, 
			`updated`,
			 enginee_desc_id
		)
		values
		(
			#{nameAward},
			#{awardWinningTime}, 
			#{awardingUnit}, 
			#{proId}, 
			#{taskId}, 
			#{applyId}, 
			#{optUid}, 
			now(),
			#{updated},
		    #{engineeDescId}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.cpe.petroleum_engineering_award.domain.OilProDesignAwardDO">
		update ass_oil_pro_design_award 
		<set>
			<if test="nameAward != null">`name_award` = #{nameAward}, </if>
			<if test="awardWinningTime != null">`award_winning_time` = #{awardWinningTime}, </if>
			<if test="awardingUnit != null">`awarding_unit` = #{awardingUnit}, </if>
			<if test="proId != null">`pro_id` = #{proId}, </if>
			<if test="taskId != null">`task_id` = #{taskId}, </if>
			<if test="applyId != null">`apply_id` = #{applyId}, </if>
			<if test="optUid != null">`opt_uid` = #{optUid}, </if>
			<if test="created != null">`created` = #{created}, </if>
			<if test="updated != null">`updated` = #{updated}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ass_oil_pro_design_award where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ass_oil_pro_design_award where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>