<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="include :: header"></head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>测试111</h5>
                </div>
                <div class="ibox-content">
                    测试111
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
</body>

</html>
