<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.AwardDao">

	<select id="get" resultType="com.bootdo.system.domain.AwardDo">
		select
		`id`,`award_name`,`major`,`code`, `created`,remark
		from ass_award where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.AwardDo">
		select
		`id`,`award_name`,`major`,`code`, `created`,remark
		from ass_award
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="awardName != null and awardName != ''"> and award_name = #{awardName} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from ass_award
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="awardName != null and awardName != ''"> and award_name = #{awardName} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.bootdo.system.domain.AwardDo"
		useGeneratedKeys="true" keyProperty="id">
		insert into ass_award
		(
		`award_name`,
        `major`,
        `code`,
        remark
		)
		values
		(
		#{awardName},
		#{major},
		#{code},
		#{remark}
		)
	</insert>

	<update id="update" parameterType="com.bootdo.system.domain.AwardDo">
		update ass_award
		<set>
			<if test="awardName != null and awardName != ''"> award_name = #{awardName}, </if>
			<if test="major != null">`major` = #{major}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			mdate = now()
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from ass_award where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from ass_award where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

</mapper>