<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body>
<div class="ui top attached tabular menu">
    <a class="active item"  href="#">列表 </a>
    <a class="item" th:if="${readonly} ne 1" th:href="@{/system/enterpriTeamSupportCompany/add(proId=${proId},taskId=${taskId},applyId=${applyId})}">新增 </a>
</div>
<div class="ui bottom attached segment">
    <input id="isReadonly" th:value="${readonly}" type="hidden" />

    <table class="ui table">
        <thead>
        <th></th>
        <th>单位名称</th>
        <th>联系人</th>
        <th>通讯地址</th>
        <th>操作</th>
        </thead>
        <tbody>
        <tr th:each="ach,achStat:${list}">
            <td th:text="${achStat.count}"></td>
            <td th:text="${ach.comName}"></td>
            <td th:text="${ach.comConcat}"></td>
            <td th:text="${ach.comAddress}"></td>
            <td>
                <a class="ui teal mini basic button"
                   th:href="@{'/system/enterpriTeamSupportCompany/edit/'+${ach.id}+'?proId='+${proId}+'&taskId='+${taskId}+'&applyId='+${applyId}}">修改</a>
                <a class="ui teal mini basic button" href="#" th:onclick="'javascript:delAch(\''+${ach.id}+'\')'">删除</a>
            </td>
        </tr>
        </tbody>
        <!--<tfoot>
        <th colspan="6">
            <div class="ui pagination mini menu">
                <a class="icon item">上一页</a>
                <a class="icon item">下一页</a>
            </div>
        </th>
        </tfoot>-->
    </table>
</div>
<div th:include="include::footer"></div>
<script src="/js/appjs/cpe/common/readonly.js" type="text/javascript"></script>

<!--
<script type="text/javascript" src="/js/appjs/cpe/enterpriTeamAcheievements/enterpriTeamAcheievements.js"></script>
-->
<script>
    function delAch(id) {

        parent.layer.confirm('是否删除?', {icon: 3, title: '删除确认提示'}, function (index) {
            //do something
            $.ajax({
                cache: true,
                type: "POST",
                url: "/system/enterpriTeamSupportCompany/remove",
                data: {
                    id: id,
                    proId: "${proId}",
                    taskId: "${taskId}",
                    applyId: "${applyId}"
                },// 你的formid
                async: false,
                error: function (request) {
                    parent.layer.alert("Connection error");
                },
                success: function (data) {
                    if (data.code == 0) {
                        parent.layer.msg("操作成功");
                        window.location.reload();
                    } else {
                        parent.layer.alert(data.msg)
                    }
                }
            });
            layer.close(index);
        });

    }
</script>
</body>
</html>