<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">申报人姓名：</label>
								<div class="col-sm-8">
									<input id="userName" name="userName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">性别：</label>
								<div class="col-sm-8">
									<input id="gender" name="gender" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出生年月：</label>
								<div class="col-sm-8">
									<input id="birthday" name="birthday" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">照片：</label>
								<div class="col-sm-8">
									<input id="photo" name="photo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">民族：</label>
								<div class="col-sm-8">
									<input id="nation" name="nation" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">从事专业：</label>
								<div class="col-sm-8">
									<input id="workMajor" name="workMajor" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">技术职称：</label>
								<div class="col-sm-8">
									<input id="technicalTitle" name="technicalTitle" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">身份证：</label>
								<div class="col-sm-8">
									<input id="userIden" name="userIden" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">技术职务：</label>
								<div class="col-sm-8">
									<input id="technicalPosition" name="technicalPosition" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">最高学历：</label>
								<div class="col-sm-8">
									<input id="highestEducation" name="highestEducation" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">毕业学校：</label>
								<div class="col-sm-8">
									<input id="graduateSchool" name="graduateSchool" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所学专业：</label>
								<div class="col-sm-8">
									<input id="major" name="major" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">毕业时间：</label>
								<div class="col-sm-8">
									<input id="graduationTime" name="graduationTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否享受政府津贴：</label>
								<div class="col-sm-8">
									<input id="isEnjoyGovernmentSubsidies" name="isEnjoyGovernmentSubsidies" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">姓名：</label>
								<div class="col-sm-8">
									<input id="contactsName" name="contactsName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">手机：</label>
								<div class="col-sm-8">
									<input id="contactsPhone" name="contactsPhone" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">通讯地址：</label>
								<div class="col-sm-8">
									<input id="contactsAddress" name="contactsAddress" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label"> 电话 ：</label>
								<div class="col-sm-8">
									<input id="contactsTelphone" name="contactsTelphone" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label"> 传真 ：</label>
								<div class="col-sm-8">
									<input id="contactsFax" name="contactsFax" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="contactsPostcode" name="contactsPostcode" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">个人综述：</label>
								<div class="col-sm-8">
									<input id="personalSummary" name="personalSummary" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">填报的账号用户id：</label>
								<div class="col-sm-8">
									<input id="optUid" name="optUid" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="created" name="created" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/enterpriPersonalInfo/add.js">
	</script>
</body>
</html>
