<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.cpe.dao.QcGroupApplyInfoDao">

	<select id="get" resultType="com.bootdo.cpe.domain.QcGroupApplyInfoDO">
		select `id`,`opt_uid`,`pro_id`,`task_id`,`apply_id`,`group_name`,`topic_name`,`topic_type`,`contacts`,`phone`,`professional_scope`,`group_desc`,`sel_topic_reason`,`act_desc`,`main_result`,`recommend_action`,`created`,`updated`,`deleted`,`unit_name` from ass_qc_group_apply_info where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.cpe.domain.QcGroupApplyInfoDO">
		select `id`,`opt_uid`,`pro_id`,`task_id`,`apply_id`,`group_name`,`topic_name`,`topic_type`,`contacts`,`phone`,`professional_scope`,`group_desc`,`sel_topic_reason`,`act_desc`,`main_result`,`recommend_action`,`created`,`updated`,`deleted`,`unit_name` from ass_qc_group_apply_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
		  		  <if test="proId != null and proId != ''"> and pro_id = #{proId} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="applyId != null and applyId != ''"> and apply_id = #{applyId} </if>
		  		  <if test="groupName != null and groupName != ''"> and group_name = #{groupName} </if>
		  		  <if test="topicName != null and topicName != ''"> and topic_name = #{topicName} </if>
		  		  <if test="topicType != null and topicType != ''"> and topic_type = #{topicType} </if>
		  		  <if test="contacts != null and contacts != ''"> and contacts = #{contacts} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="professionalScope != null and professionalScope != ''"> and professional_scope = #{professionalScope} </if>
		  		  <if test="groupDesc != null and groupDesc != ''"> and group_desc = #{groupDesc} </if>
		  		  <if test="selTopicReason != null and selTopicReason != ''"> and sel_topic_reason = #{selTopicReason} </if>
		  		  <if test="actDesc != null and actDesc != ''"> and act_desc = #{actDesc} </if>
		  		  <if test="mainResult != null and mainResult != ''"> and main_result = #{mainResult} </if>
		  		  <if test="recommendAction != null and recommendAction != ''"> and recommend_action = #{recommendAction} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		  <if test="unitName != null and unitName != ''"> and unit_name = #{unitName} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ass_qc_group_apply_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
		  		  <if test="proId != null and proId != ''"> and pro_id = #{proId} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="applyId != null and applyId != ''"> and apply_id = #{applyId} </if>
		  		  <if test="groupName != null and groupName != ''"> and group_name = #{groupName} </if>
		  		  <if test="topicName != null and topicName != ''"> and topic_name = #{topicName} </if>
		  		  <if test="topicType != null and topicType != ''"> and topic_type = #{topicType} </if>
		  		  <if test="contacts != null and contacts != ''"> and contacts = #{contacts} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="professionalScope != null and professionalScope != ''"> and professional_scope = #{professionalScope} </if>
		  		  <if test="groupDesc != null and groupDesc != ''"> and group_desc = #{groupDesc} </if>
		  		  <if test="selTopicReason != null and selTopicReason != ''"> and sel_topic_reason = #{selTopicReason} </if>
		  		  <if test="actDesc != null and actDesc != ''"> and act_desc = #{actDesc} </if>
		  		  <if test="mainResult != null and mainResult != ''"> and main_result = #{mainResult} </if>
		  		  <if test="recommendAction != null and recommendAction != ''"> and recommend_action = #{recommendAction} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		  <if test="unitName != null and unitName != ''"> and unit_name = #{unitName} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.cpe.domain.QcGroupApplyInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into ass_qc_group_apply_info
		(
			`opt_uid`, 
			`pro_id`, 
			`task_id`, 
			`apply_id`, 
			`group_name`, 
			`topic_name`, 
			`topic_type`, 
			`contacts`, 
			`phone`, 
			`professional_scope`, 
			`group_desc`, 
			`sel_topic_reason`, 
			`act_desc`, 
			`main_result`, 
			`recommend_action`, 
			`created`, 
			`updated`, 
			`deleted`, 
			`unit_name`
		)
		values
		(
			#{optUid}, 
			#{proId}, 
			#{taskId}, 
			#{applyId}, 
			#{groupName}, 
			#{topicName}, 
			#{topicType}, 
			#{contacts}, 
			#{phone}, 
			#{professionalScope}, 
			#{groupDesc}, 
			#{selTopicReason}, 
			#{actDesc}, 
			#{mainResult}, 
			#{recommendAction},
		    now(),
			#{updated}, 
			#{deleted}, 
			#{unitName}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.cpe.domain.QcGroupApplyInfoDO">
		update ass_qc_group_apply_info 
		<set>
			<if test="optUid != null">`opt_uid` = #{optUid}, </if>
			<if test="proId != null">`pro_id` = #{proId}, </if>
			<if test="taskId != null">`task_id` = #{taskId}, </if>
			<if test="applyId != null  and applyId != ''">`apply_id` = #{applyId}, </if>
			<if test="groupName != null">`group_name` = #{groupName}, </if>
			<if test="topicName != null">`topic_name` = #{topicName}, </if>
			<if test="topicType != null">`topic_type` = #{topicType}, </if>
			<if test="contacts != null">`contacts` = #{contacts}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="professionalScope != null">`professional_scope` = #{professionalScope}, </if>
			<if test="groupDesc != null">`group_desc` = #{groupDesc}, </if>
			<if test="selTopicReason != null">`sel_topic_reason` = #{selTopicReason}, </if>
			<if test="actDesc != null">`act_desc` = #{actDesc}, </if>
			<if test="mainResult != null">`main_result` = #{mainResult}, </if>
			<if test="recommendAction != null">`recommend_action` = #{recommendAction}, </if>
			<if test="created != null">`created` = #{created}, </if>
			<if test="updated != null">`updated` = #{updated}, </if>
			<if test="deleted != null">`deleted` = #{deleted}, </if>
			<if test="unitName != null">`unit_name` = #{unitName}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ass_qc_group_apply_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ass_qc_group_apply_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>