<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.cpe.dao.QcResultInnovateScoreDao">

	<select id="get" resultType="com.bootdo.cpe.domain.QcResultInnovateScoreDO">
		select `id`,`opt_uid`,`pro_id`,`task_id`,`apply_id`,`sel_socre`,`best_plan_score`,`reason_score`,`strategy_execute_score`,`effect_score`,`report_score`,`characteristic_score`,`appraise_sum`,`appraise_sign`,`sum_recommend`,`created`,`updated`,`deleted` from ass_qc_result_innovate_score where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.cpe.domain.QcResultInnovateScoreDO">
		select `id`,`opt_uid`,`pro_id`,`task_id`,`apply_id`,`sel_socre`,`best_plan_score`,`reason_score`,`strategy_execute_score`,`effect_score`,`report_score`,`characteristic_score`,`appraise_sum`,`appraise_sign`,`sum_recommend`,`created`,`updated`,`deleted` from ass_qc_result_innovate_score
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
		  		  <if test="proId != null and proId != ''"> and pro_id = #{proId} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="applyId != null and applyId != ''"> and apply_id = #{applyId} </if>
		  		  <if test="selSocre != null and selSocre != ''"> and sel_socre = #{selSocre} </if>
		  		  <if test="bestPlanScore != null and bestPlanScore != ''"> and best_plan_score = #{bestPlanScore} </if>
		  		  <if test="reasonScore != null and reasonScore != ''"> and reason_score = #{reasonScore} </if>
		  		  <if test="strategyExecuteScore != null and strategyExecuteScore != ''"> and strategy_execute_score = #{strategyExecuteScore} </if>
		  		  <if test="effectScore != null and effectScore != ''"> and effect_score = #{effectScore} </if>
		  		  <if test="reportScore != null and reportScore != ''"> and report_score = #{reportScore} </if>
		  		  <if test="characteristicScore != null and characteristicScore != ''"> and characteristic_score = #{characteristicScore} </if>
		  		  <if test="appraiseSum != null and appraiseSum != ''"> and appraise_sum = #{appraiseSum} </if>
		  		  <if test="appraiseSign != null and appraiseSign != ''"> and appraise_sign = #{appraiseSign} </if>
		  		  <if test="sumRecommend != null and sumRecommend != ''"> and sum_recommend = #{sumRecommend} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ass_qc_result_innovate_score
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
		  		  <if test="proId != null and proId != ''"> and pro_id = #{proId} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="applyId != null and applyId != ''"> and apply_id = #{applyId} </if>
		  		  <if test="selSocre != null and selSocre != ''"> and sel_socre = #{selSocre} </if>
		  		  <if test="bestPlanScore != null and bestPlanScore != ''"> and best_plan_score = #{bestPlanScore} </if>
		  		  <if test="reasonScore != null and reasonScore != ''"> and reason_score = #{reasonScore} </if>
		  		  <if test="strategyExecuteScore != null and strategyExecuteScore != ''"> and strategy_execute_score = #{strategyExecuteScore} </if>
		  		  <if test="effectScore != null and effectScore != ''"> and effect_score = #{effectScore} </if>
		  		  <if test="reportScore != null and reportScore != ''"> and report_score = #{reportScore} </if>
		  		  <if test="characteristicScore != null and characteristicScore != ''"> and characteristic_score = #{characteristicScore} </if>
		  		  <if test="appraiseSum != null and appraiseSum != ''"> and appraise_sum = #{appraiseSum} </if>
		  		  <if test="appraiseSign != null and appraiseSign != ''"> and appraise_sign = #{appraiseSign} </if>
		  		  <if test="sumRecommend != null and sumRecommend != ''"> and sum_recommend = #{sumRecommend} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.cpe.domain.QcResultInnovateScoreDO" useGeneratedKeys="true" keyProperty="id">
		insert into ass_qc_result_innovate_score
		(
			`opt_uid`, 
			`pro_id`, 
			`task_id`, 
			`apply_id`, 
			`sel_socre`, 
			`best_plan_score`, 
			`reason_score`, 
			`strategy_execute_score`, 
			`effect_score`, 
			`report_score`, 
			`characteristic_score`, 
			`appraise_sum`, 
			`appraise_sign`, 
			`sum_recommend`, 
			`created`, 
			`updated`, 
			`deleted`
		)
		values
		(
			#{optUid}, 
			#{proId}, 
			#{taskId}, 
			#{applyId}, 
			#{selSocre}, 
			#{bestPlanScore}, 
			#{reasonScore}, 
			#{strategyExecuteScore}, 
			#{effectScore}, 
			#{reportScore}, 
			#{characteristicScore}, 
			#{appraiseSum}, 
			#{appraiseSign}, 
			#{sumRecommend}, 
			now(),
			#{updated}, 
			#{deleted}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.cpe.domain.QcResultInnovateScoreDO">
		update ass_qc_result_innovate_score 
		<set>
			<if test="optUid != null">`opt_uid` = #{optUid}, </if>
			<if test="proId != null">`pro_id` = #{proId}, </if>
			<if test="taskId != null">`task_id` = #{taskId}, </if>
			<if test="applyId != null">`apply_id` = #{applyId}, </if>
			<if test="selSocre != null">`sel_socre` = #{selSocre}, </if>
			<if test="bestPlanScore != null">`best_plan_score` = #{bestPlanScore}, </if>
			<if test="reasonScore != null">`reason_score` = #{reasonScore}, </if>
			<if test="strategyExecuteScore != null">`strategy_execute_score` = #{strategyExecuteScore}, </if>
			<if test="effectScore != null">`effect_score` = #{effectScore}, </if>
			<if test="reportScore != null">`report_score` = #{reportScore}, </if>
			<if test="characteristicScore != null">`characteristic_score` = #{characteristicScore}, </if>
			<if test="appraiseSum != null">`appraise_sum` = #{appraiseSum}, </if>
			<if test="appraiseSign != null">`appraise_sign` = #{appraiseSign}, </if>
			<if test="sumRecommend != null">`sum_recommend` = #{sumRecommend}, </if>
			<if test="created != null">`created` = #{created}, </if>
			<if test="updated != null">`updated` = #{updated}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ass_qc_result_innovate_score where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ass_qc_result_innovate_score where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>