<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.cpe.dao.QcSurveyStatisticInfoDao">

	<select id="get" resultType="com.bootdo.cpe.domain.QcSurveyStatisticInfoDO">
		select `id`,`opt_uid`,`pro_id`,`task_id`,`apply_id`,`enterprise_count`,`enter_worker_count`,`reg_qc_count`,`this_year_reg_count`,`this_year_result_count`,`this_year_act_count`,`this_year_income`,`this_year_result_rate`,`this_year_worker_rate`,`train_count`,`this_year_propose_count`,`qualification_count`,`created`,`updated`,`deleted` from ass_qc_survey_statistic_info where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.cpe.domain.QcSurveyStatisticInfoDO">
		select `id`,`opt_uid`,`pro_id`,`task_id`,`apply_id`,`enterprise_count`,`enter_worker_count`,`reg_qc_count`,`this_year_reg_count`,`this_year_result_count`,`this_year_act_count`,`this_year_income`,`this_year_result_rate`,`this_year_worker_rate`,`train_count`,`this_year_propose_count`,`qualification_count`,`created`,`updated`,`deleted` from ass_qc_survey_statistic_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
		  		  <if test="proId != null and proId != ''"> and pro_id = #{proId} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="applyId != null and applyId != ''"> and apply_id = #{applyId} </if>
		  		  <if test="enterpriseCount != null and enterpriseCount != ''"> and enterprise_count = #{enterpriseCount} </if>
		  		  <if test="enterWorkerCount != null and enterWorkerCount != ''"> and enter_worker_count = #{enterWorkerCount} </if>
		  		  <if test="regQcCount != null and regQcCount != ''"> and reg_qc_count = #{regQcCount} </if>
		  		  <if test="thisYearRegCount != null and thisYearRegCount != ''"> and this_year_reg_count = #{thisYearRegCount} </if>
		  		  <if test="thisYearResultCount != null and thisYearResultCount != ''"> and this_year_result_count = #{thisYearResultCount} </if>
		  		  <if test="thisYearActCount != null and thisYearActCount != ''"> and this_year_act_count = #{thisYearActCount} </if>
		  		  <if test="thisYearIncome != null and thisYearIncome != ''"> and this_year_income = #{thisYearIncome} </if>
		  		  <if test="thisYearResultRate != null and thisYearResultRate != ''"> and this_year_result_rate = #{thisYearResultRate} </if>
		  		  <if test="thisYearWorkerRate != null and thisYearWorkerRate != ''"> and this_year_worker_rate = #{thisYearWorkerRate} </if>
		  		  <if test="trainCount != null and trainCount != ''"> and train_count = #{trainCount} </if>
		  		  <if test="thisYearProposeCount != null and thisYearProposeCount != ''"> and this_year_propose_count = #{thisYearProposeCount} </if>
		  		  <if test="qualificationCount != null and qualificationCount != ''"> and qualification_count = #{qualificationCount} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ass_qc_survey_statistic_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
		  		  <if test="proId != null and proId != ''"> and pro_id = #{proId} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="applyId != null and applyId != ''"> and apply_id = #{applyId} </if>
		  		  <if test="enterpriseCount != null and enterpriseCount != ''"> and enterprise_count = #{enterpriseCount} </if>
		  		  <if test="enterWorkerCount != null and enterWorkerCount != ''"> and enter_worker_count = #{enterWorkerCount} </if>
		  		  <if test="regQcCount != null and regQcCount != ''"> and reg_qc_count = #{regQcCount} </if>
		  		  <if test="thisYearRegCount != null and thisYearRegCount != ''"> and this_year_reg_count = #{thisYearRegCount} </if>
		  		  <if test="thisYearResultCount != null and thisYearResultCount != ''"> and this_year_result_count = #{thisYearResultCount} </if>
		  		  <if test="thisYearActCount != null and thisYearActCount != ''"> and this_year_act_count = #{thisYearActCount} </if>
		  		  <if test="thisYearIncome != null and thisYearIncome != ''"> and this_year_income = #{thisYearIncome} </if>
		  		  <if test="thisYearResultRate != null and thisYearResultRate != ''"> and this_year_result_rate = #{thisYearResultRate} </if>
		  		  <if test="thisYearWorkerRate != null and thisYearWorkerRate != ''"> and this_year_worker_rate = #{thisYearWorkerRate} </if>
		  		  <if test="trainCount != null and trainCount != ''"> and train_count = #{trainCount} </if>
		  		  <if test="thisYearProposeCount != null and thisYearProposeCount != ''"> and this_year_propose_count = #{thisYearProposeCount} </if>
		  		  <if test="qualificationCount != null and qualificationCount != ''"> and qualification_count = #{qualificationCount} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.cpe.domain.QcSurveyStatisticInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into ass_qc_survey_statistic_info
		(
			`opt_uid`, 
			`pro_id`, 
			`task_id`, 
			`apply_id`, 
			`enterprise_count`, 
			`enter_worker_count`, 
			`reg_qc_count`, 
			`this_year_reg_count`, 
			`this_year_result_count`, 
			`this_year_act_count`, 
			`this_year_income`, 
			`this_year_result_rate`, 
			`this_year_worker_rate`, 
			`train_count`, 
			`this_year_propose_count`, 
			`qualification_count`, 
			`created`, 
			`updated`, 
			`deleted`
		)
		values
		(
			#{optUid}, 
			#{proId}, 
			#{taskId}, 
			#{applyId}, 
			#{enterpriseCount}, 
			#{enterWorkerCount}, 
			#{regQcCount}, 
			#{thisYearRegCount}, 
			#{thisYearResultCount}, 
			#{thisYearActCount}, 
			#{thisYearIncome}, 
			#{thisYearResultRate}, 
			#{thisYearWorkerRate}, 
			#{trainCount}, 
			#{thisYearProposeCount}, 
			#{qualificationCount},
		    now(),
			#{updated}, 
			#{deleted}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.cpe.domain.QcSurveyStatisticInfoDO">
		update ass_qc_survey_statistic_info 
		<set>
			<if test="optUid != null">`opt_uid` = #{optUid}, </if>
			<if test="proId != null">`pro_id` = #{proId}, </if>
			<if test="taskId != null">`task_id` = #{taskId}, </if>
			<if test="applyId != null">`apply_id` = #{applyId}, </if>
			<if test="enterpriseCount != null">`enterprise_count` = #{enterpriseCount}, </if>
			<if test="enterWorkerCount != null">`enter_worker_count` = #{enterWorkerCount}, </if>
			<if test="regQcCount != null">`reg_qc_count` = #{regQcCount}, </if>
			<if test="thisYearRegCount != null">`this_year_reg_count` = #{thisYearRegCount}, </if>
			<if test="thisYearResultCount != null">`this_year_result_count` = #{thisYearResultCount}, </if>
			<if test="thisYearActCount != null">`this_year_act_count` = #{thisYearActCount}, </if>
			<if test="thisYearIncome != null">`this_year_income` = #{thisYearIncome}, </if>
			<if test="thisYearResultRate != null">`this_year_result_rate` = #{thisYearResultRate}, </if>
			<if test="thisYearWorkerRate != null">`this_year_worker_rate` = #{thisYearWorkerRate}, </if>
			<if test="trainCount != null">`train_count` = #{trainCount}, </if>
			<if test="thisYearProposeCount != null">`this_year_propose_count` = #{thisYearProposeCount}, </if>
			<if test="qualificationCount != null">`qualification_count` = #{qualificationCount}, </if>
			<if test="created != null">`created` = #{created}, </if>
			<if test="updated != null">`updated` = #{updated}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ass_qc_survey_statistic_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ass_qc_survey_statistic_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>