<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.cpe.dao.SpecialistScoreOverDao">

	<select id="get" resultType="com.bootdo.cpe.domain.SpecialistScoreOverDO">
		select `id`,`score_uid`,`pro_id`,`created` from ass_specialist_score_over where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.cpe.domain.SpecialistScoreOverDO">
		select `id`,`score_uid`,`pro_id`,`created` from ass_specialist_score_over
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="scoreUid != null and scoreUid != ''"> and score_uid = #{scoreUid} </if>
		  		  <if test="proId != null and proId != ''"> and pro_id = #{proId} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ass_specialist_score_over
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="scoreUid != null and scoreUid != ''"> and score_uid = #{scoreUid} </if>
		  		  <if test="proId != null and proId != ''"> and pro_id = #{proId} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.cpe.domain.SpecialistScoreOverDO" useGeneratedKeys="true" keyProperty="id">
		insert into ass_specialist_score_over
		(
			`score_uid`, 
			`pro_id`, 
			`created`
		)
		values
		(
			#{scoreUid}, 
			#{proId},
		    now()
		)
	</insert>

	<update id="scoreOverPro" >
		UPDATE ass_award_project_score
		SET
			score_over = 1
		WHERE
			score_uid = #{scoreUid} AND score_type = #{proType}
	</update>

	<update id="scoreCancelPro">
		UPDATE ass_award_project_score
		SET
			score_over = 0
		WHERE
			score_uid = #{scoreUid} AND score_type = #{proType}
	</update>

	<select id="getScoreIsOver" resultType="int">
		SELECT
			score_over
		FROM
			ass_award_project_score
		WHERE
			score_uid = #{scoreUid} AND score_type = #{proType}
		LIMIT 1
	</select>

	<select id="getScoreOverSpecialistCountProList" parameterType="java.util.Map" resultType="com.bootdo.cpe.domain.SpecialistScoreProOverCountInfo">
		SELECT
            pro.id pro_id,
            pro.pro_type,
            COUNT(DISTINCT si.user_id) total_specialist_count,
            (SELECT
                    COUNT(DISTINCT score_uid)
                FROM
                    ass_specialist_score_over
                WHERE
                    pro_id = pro.id) over_specialist_count
        FROM
            boot_do.ass_award_enterprise_project pro
                JOIN
            add_special_info si ON pro.major = si.group_name
		        JOIN
		    ass_award_project_score ps on ps.pro_id = pro.id
        WHERE
		    pro.publish_task_id = #{taskId}
		    and si.deleted = 0
            <if test="proType != null"> AND pro.pro_type = #{proType} </if>
        GROUP BY pro.id
	</select>
	 
	<update id="update" parameterType="com.bootdo.cpe.domain.SpecialistScoreOverDO">
		update ass_specialist_score_over 
		<set>
			<if test="scoreUid != null">`score_uid` = #{scoreUid}, </if>
			<if test="proId != null">`pro_id` = #{proId}, </if>
			<if test="created != null">`created` = #{created}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ass_specialist_score_over where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ass_specialist_score_over where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>