<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.cpe.dao.SurverAwardDao">


    <select id="listProInfo" resultType="com.bootdo.cpe.domain.SurverProjectInfo">
        select pro.id pro_id,
               pro.major,
               pro.pro_code,
               pro.pro_sub_type,
               pro.pro_type,
               chengguo pro_name,
               sd.name apply_company,
               su.username apply_account,
               pt.apply_start_date,
               pt.apply_end_date,
               pt.expert_start_time,
               pt.expert_end_time,
               pt.expert_start_time_second,
               pt.expert_end_time_second,
               pt.check_start_time,
               pt.check_end_time,
               pt.task_stat,
               pro.pro_stat,
               pro.pro_result_code proCode,
               pro.declare_account declareAccount,
               (select qg.name from ass_qc_group qg where qg.groupid = pro.group_id and qg.taskid = pro.publish_task_id limit 1) qcGroupName,
               case pro.pro_sub_type
                   when 'design' then (select r.review_result from ass_surver_review_design_result r where r.pro_id = pro.id order by r.id desc limit 1)
                   when 'software' then (select r.review_result from ass_surver_review_soft_result r where r.pro_id = pro.id order by r.id desc limit 1)
                   when 'standard' then (select r.review_result from ass_surver_review_standard_result r where r.pro_id = pro.id order by r.id desc limit 1)
                   when 'consulting' then (select r.review_result from ass_surver_review_consult_result r where r.pro_id = pro.id order by r.id desc limit 1)
                   when 'contribution' then (select r.review_result from ass_surver_review_surver_result r where r.pro_id = pro.id order by r.id desc limit 1)
                   else ''
               end latestReviewResult,
               case pro.pro_sub_type
                   when 'design' then (select r.remarks from ass_surver_review_design_result r where r.pro_id = pro.id order by r.id desc limit 1)
                   when 'software' then (select r.remarks from ass_surver_review_soft_result r where r.pro_id = pro.id order by r.id desc limit 1)
                   when 'standard' then (select r.remarks from ass_surver_review_standard_result r where r.pro_id = pro.id order by r.id desc limit 1)
                   when 'consulting' then (select r.remarks from ass_surver_review_consult_result r where r.pro_id = pro.id order by r.id desc limit 1)
                   when 'contribution' then (select r.remarks from ass_surver_review_surver_result r where r.pro_id = pro.id order by r.id desc limit 1)
                   else ''
               end latestReviewRemarks,
               case
                   when pro.pro_sub_type = 'design' then (
                       select group_concat(sdu.username separator '、')
                       from ass_surver_desigin_contribute_user_info sdu
                       where sdu.pro_id = pro.id and ifnull(sdu.deleted,0) = 0
                   )
                   when pro.pro_sub_type = 'software' then (
                       select group_concat(sdu.username separator '、')
                       from ass_surver_desigin_contribute_user_info sdu
                       where sdu.pro_id = pro.id and ifnull(sdu.deleted,0) = 0
                   )
                   when pro.pro_sub_type = 'standard' then (
                       select group_concat(sdu.username separator '、')
                       from ass_surver_desigin_contribute_user_info sdu
                       where sdu.pro_id = pro.id and ifnull(sdu.deleted,0) = 0
                   )
                   when pro.pro_sub_type = 'contribution' then (
                       select group_concat(sdu.username separator '、')
                       from ass_surver_desigin_contribute_user_info sdu
                       where sdu.pro_id = pro.id and ifnull(sdu.deleted,0) = 0
                   )
                   else ''
               end memberList,
               <!-- Phase B: 管理员淘汰标记，按 pro_sub_type 路由到对应申报子表的 eliminated 字段 -->
               case pro.pro_sub_type
                   when 'design'       then (select ifnull(t.eliminated,0) from ass_surver_design_apply_table_info    t where t.pro_id = pro.id order by t.id desc limit 1)
                   when 'software'     then (select ifnull(t.eliminated,0) from ass_surver_soft_apply_table_info      t where t.pro_id = pro.id order by t.id desc limit 1)
                   when 'standard'     then (select ifnull(t.eliminated,0) from ass_surver_standard_apply_table_info  t where t.pro_id = pro.id order by t.id desc limit 1)
                   when 'contribution' then (select ifnull(t.eliminated,0) from ass_surver_excellent_apply_table_info t where t.pro_id = pro.id order by t.id desc limit 1)
                   else 0
               end eliminated,
               <!-- 新增：专家分组名称（通过 ass_award_pro_expert_group + ass_award_expert_group 关联查询） -->
               (select egn.name from ass_award_pro_expert_group pegn
                join ass_award_expert_group egn on egn.groupid = pegn.groupid and egn.taskid = pegn.taskid
                where pegn.proid = pro.id limit 1) expertGroupName
               from
                boot_do.ass_award_enterprise_project pro
                   JOIN
                sys_user su on pro.create_uid = su.user_id
                   JOIN
                sys_dept sd ON su.dept_id = sd.dept_id
                    JOIN
                ass_award_publish_task pt on pro.publish_task_id = pt.id

         <if test="associationUserId!=null">
             and pt.association_userid = #{associationUserId}
         </if>

        <if test="ass_worker_uid != null and associationUserId == null">
             and pt.association_userid = #{ass_worker_uid}
        </if>
        <if test="scoreSpecialistUid != null">
            <!-- 原代码（listProInfo v1）：按 pro.major 匹配专家组名 -->
            <!-- join add_special_info si on pro.major = si.group_name and si.user_id = #{scoreSpecialistUid} and si.deleted = 0 -->
            <!-- 新代码（listProInfo v4）：通过 ass_award_pro_expert_group + ass_award_expert_group 查出项目所在分组名，再匹配专家绑定 -->
            join ass_award_pro_expert_group peg on peg.proid = pro.id
            join ass_award_expert_group eg on eg.groupid = peg.groupid and eg.taskid = peg.taskid
            join add_special_info si on si.group_name = eg.name
             and si.user_id  = #{scoreSpecialistUid}
             and si.pro_type = 'surver_pro_group'
             and si.deleted  = 0
        </if>
        <!-- contactUserId 过滤移至 WHERE EXISTS，避免重复行 -->

        <if test="ass_assign_uid != null">
            join ass_award_assign_project asignPro on asignPro.pro_id = pro.id and asignPro.uid = #{ass_assign_uid}
            <if test="pro_assign_uid != null">
                and asignPro.assign_uid = #{pro_assign_uid}
            </if>
            <if test="pro_assign_uid == null">
                and asignPro.assign_uid != -100
            </if>
        </if>

        <if test="scoreAccount != null and scoreAccount != ''">
            join ass_award_project_score sr on pro.id = sr.pro_id
            join add_special_info sai on sr.score_uid = sai.user_id
            and sai.login_account = #{scoreAccount} and sai.deleted = 0
        </if>

        <where>
            pro.pro_type = 'surver_pro'
            <if test="scoreSpecialistUid == null and contactUserId == null">AND pro.major IS NOT NULL</if>
            <if test="proSubType != null and proSubType != ''"> and pro.pro_sub_type = #{proSubType}</if>
            <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
            <if test="proId != null and proId != ''"> and pro.id = #{proId} </if>
            <if test="taskId != null and taskId != ''"> and publish_task_id = #{taskId} </if>
            <if test="contactUserId != null">
                AND EXISTS (
                    SELECT 1 FROM ass_award_pro_expert_group cpeg
                    JOIN ass_award_expert_group ceg ON ceg.groupid = cpeg.groupid AND ceg.taskid = cpeg.taskid
                    JOIN add_special_info csi ON csi.group_name = ceg.name
                     AND csi.task_id  = cpeg.taskid
                     AND csi.user_id  = #{contactUserId}
                     AND csi.pro_type = 'surver_view_scope'
                     AND csi.deleted  = 0
                    WHERE cpeg.proid = pro.id
                )
            </if>
            <if test="keyWord != null and keyWord != ''">
                 and (
                   pro.pro_result_code like #{keyWord} or
                   exists(
                     SELECT sd.name FROM boot_do.sys_dept sd join sys_user su on sd.dept_id = su.dept_id where  su.user_id = qa.opt_uid
                     and sd.name like #{keyWord}
                   ) or
                   exists(
                      select username from sys_user where user_id = qa.opt_uid and username like #{keyWord}
                   )
                   or pro.pro_stat like #{keyWord}
                )
            </if>
            <if test="enterpriseUid != null">
              and pro.create_uid = #{enterpriseUid}
            </if>
            <!-- ===== 高级筛选条件（前端 filterXxx 参数，模糊/等值匹配） ===== -->
            <if test="filterProName != null and filterProName != ''">
                AND pro.chengguo LIKE concat('%', #{filterProName}, '%')
            </if>
            <if test="filterApplyCompany != null and filterApplyCompany != ''">
                AND sd.name LIKE concat('%', #{filterApplyCompany}, '%')
            </if>
            <if test="filterMajor != null and filterMajor != ''">
                AND pro.major LIKE concat('%', #{filterMajor}, '%')
            </if>
            <if test="filterDeclareAccount != null and filterDeclareAccount != ''">
                AND pro.declare_account LIKE concat('%', #{filterDeclareAccount}, '%')
            </if>
            <if test="filterQcGroupName != null and filterQcGroupName != ''">
                AND ifnull(pro.qc_group_name, pro.pro_group_name) LIKE concat('%', #{filterQcGroupName}, '%')
            </if>
            <if test="filterExpertGroupName != null and filterExpertGroupName != ''">
                AND EXISTS (
                    SELECT 1 FROM ass_award_pro_expert_group peg2
                    JOIN ass_award_expert_group eg2 ON eg2.groupid = peg2.groupid AND eg2.taskid = peg2.taskid
                    WHERE peg2.proid = pro.id AND eg2.name LIKE concat('%', #{filterExpertGroupName}, '%')
                )
            </if>
            <if test="filterEliminated != null and filterEliminated != ''">
                AND (CASE pro.pro_sub_type
                    WHEN 'design'       THEN (SELECT ifnull(t.eliminated,0) FROM ass_surver_design_apply_table_info    t WHERE t.pro_id = pro.id ORDER BY t.id DESC LIMIT 1)
                    WHEN 'software'     THEN (SELECT ifnull(t.eliminated,0) FROM ass_surver_soft_apply_table_info      t WHERE t.pro_id = pro.id ORDER BY t.id DESC LIMIT 1)
                    WHEN 'standard'     THEN (SELECT ifnull(t.eliminated,0) FROM ass_surver_standard_apply_table_info  t WHERE t.pro_id = pro.id ORDER BY t.id DESC LIMIT 1)
                    WHEN 'contribution' THEN (SELECT ifnull(t.eliminated,0) FROM ass_surver_excellent_apply_table_info t WHERE t.pro_id = pro.id ORDER BY t.id DESC LIMIT 1)
                    ELSE 0
                END) = #{filterEliminated}
            </if>
            <if test="filterProStat != null and filterProStat != ''">
                AND pro.pro_stat = #{filterProStat}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by pro.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="countProInfo" resultType="java.lang.Integer">
        SELECT
            count(1)
        from
        boot_do.ass_award_enterprise_project pro
        JOIN
        sys_user su on pro.create_uid = su.user_id
        JOIN
        sys_dept sd ON su.dept_id = sd.dept_id
        JOIN
        ass_award_publish_task pt on pro.publish_task_id = pt.id

        <if test="associationUserId!=null">
            and pt.association_userid = #{associationUserId}
        </if>

        <if test="ass_worker_uid != null and associationUserId == null">
            and pt.association_userid = #{ass_worker_uid}
        </if>
        <if test="scoreSpecialistUid != null">
            <!-- 原代码（countProInfo v1）：同 listProInfo 旧逻辑 -->
            <!-- join add_special_info si on pro.major = si.group_name and si.user_id = #{scoreSpecialistUid} and si.deleted = 0 -->
            <!-- 新代码（countProInfo v4）：同 listProInfo v4 修复 -->
            join ass_award_pro_expert_group peg on peg.proid = pro.id
            join ass_award_expert_group eg on eg.groupid = peg.groupid and eg.taskid = peg.taskid
            join add_special_info si on si.group_name = eg.name
             and si.user_id  = #{scoreSpecialistUid}
             and si.pro_type = 'surver_pro_group'
             and si.deleted  = 0
        </if>
        <if test="contactUserId != null">
            <!-- 勘察奖小组联络人(86)：通过 surver_view_scope 绑定过滤项目（同 listProInfo） -->
            join ass_award_pro_expert_group cpeg on cpeg.proid = pro.id
            join ass_award_expert_group ceg on ceg.groupid = cpeg.groupid and ceg.taskid = cpeg.taskid
            join add_special_info csi on csi.group_name = ceg.name
             and csi.task_id  = cpeg.taskid
             and csi.user_id  = #{contactUserId}
             and csi.pro_type = 'surver_view_scope'
             and csi.deleted  = 0
        </if>

        <if test="ass_assign_uid != null">
            join ass_award_assign_project asignPro on asignPro.pro_id = pro.id and asignPro.uid = #{ass_assign_uid}
            <if test="pro_assign_uid != null">
                and asignPro.assign_uid = #{pro_assign_uid}
            </if>
            <if test="pro_assign_uid == null">
                and asignPro.assign_uid != -100
            </if>
        </if>

        <if test="scoreAccount != null and scoreAccount != ''">
            join ass_award_project_score sr on pro.id = sr.pro_id
            join add_special_info sai on sr.score_uid = sai.user_id
            and sai.login_account = #{scoreAccount} and sai.deleted = 0
        </if>

        <where>
            pro.pro_type = 'surver_pro'
            <if test="scoreSpecialistUid == null and contactUserId == null">AND pro.major IS NOT NULL</if>
            <if test="proSubType != null and proSubType != ''"> and pro.pro_sub_type = #{proSubType}</if>
            <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
            <if test="proId != null and proId != ''"> and pro.id = #{proId} </if>
            <if test="taskId != null and taskId != ''"> and publish_task_id = #{taskId} </if>
            <if test="contactUserId != null">
                AND EXISTS (
                    SELECT 1 FROM ass_award_pro_expert_group cpeg
                    JOIN ass_award_expert_group ceg ON ceg.groupid = cpeg.groupid AND ceg.taskid = cpeg.taskid
                    JOIN add_special_info csi ON csi.group_name = ceg.name
                     AND csi.task_id  = cpeg.taskid
                     AND csi.user_id  = #{contactUserId}
                     AND csi.pro_type = 'surver_view_scope'
                     AND csi.deleted  = 0
                    WHERE cpeg.proid = pro.id
                )
            </if>
            <if test="keyWord != null and keyWord != ''">
                and (
                pro.pro_result_code like #{keyWord} or
                exists(
                SELECT sd.name FROM boot_do.sys_dept sd join sys_user su on sd.dept_id = su.dept_id where  su.user_id = qa.opt_uid
                and sd.name like #{keyWord}
                ) or
                exists(
                select username from sys_user where user_id = qa.opt_uid and username like #{keyWord}
                )
                or pro.pro_stat like #{keyWord}
                )
            </if>
            <if test="enterpriseUid != null">
                and pro.create_uid = #{enterpriseUid}
            </if>
            <!-- ===== 高级筛选条件（同 listProInfo） ===== -->
            <if test="filterProName != null and filterProName != ''">
                AND pro.chengguo LIKE concat('%', #{filterProName}, '%')
            </if>
            <if test="filterApplyCompany != null and filterApplyCompany != ''">
                AND sd.name LIKE concat('%', #{filterApplyCompany}, '%')
            </if>
            <if test="filterMajor != null and filterMajor != ''">
                AND pro.major LIKE concat('%', #{filterMajor}, '%')
            </if>
            <if test="filterDeclareAccount != null and filterDeclareAccount != ''">
                AND pro.declare_account LIKE concat('%', #{filterDeclareAccount}, '%')
            </if>
            <if test="filterQcGroupName != null and filterQcGroupName != ''">
                AND ifnull(pro.qc_group_name, pro.pro_group_name) LIKE concat('%', #{filterQcGroupName}, '%')
            </if>
            <if test="filterExpertGroupName != null and filterExpertGroupName != ''">
                AND EXISTS (
                    SELECT 1 FROM ass_award_pro_expert_group peg2
                    JOIN ass_award_expert_group eg2 ON eg2.groupid = peg2.groupid AND eg2.taskid = peg2.taskid
                    WHERE peg2.proid = pro.id AND eg2.name LIKE concat('%', #{filterExpertGroupName}, '%')
                )
            </if>
            <if test="filterEliminated != null and filterEliminated != ''">
                AND (CASE pro.pro_sub_type
                    WHEN 'design'       THEN (SELECT ifnull(t.eliminated,0) FROM ass_surver_design_apply_table_info    t WHERE t.pro_id = pro.id ORDER BY t.id DESC LIMIT 1)
                    WHEN 'software'     THEN (SELECT ifnull(t.eliminated,0) FROM ass_surver_soft_apply_table_info      t WHERE t.pro_id = pro.id ORDER BY t.id DESC LIMIT 1)
                    WHEN 'standard'     THEN (SELECT ifnull(t.eliminated,0) FROM ass_surver_standard_apply_table_info  t WHERE t.pro_id = pro.id ORDER BY t.id DESC LIMIT 1)
                    WHEN 'contribution' THEN (SELECT ifnull(t.eliminated,0) FROM ass_surver_excellent_apply_table_info t WHERE t.pro_id = pro.id ORDER BY t.id DESC LIMIT 1)
                    ELSE 0
                END) = #{filterEliminated}
            </if>
            <if test="filterProStat != null and filterProStat != ''">
                AND pro.pro_stat = #{filterProStat}
            </if>
        </where>
    </select>
<!--    <select id="listEnterpriseInfo" resultType="com.bootdo.cpe.domain.ApplyEnterpriseInfo">-->
<!--        SELECT distinct sd.dept_id id,sd.name enterprise_name,-->
<!--               (select store_path from ass_surver_enterprise_sort_info si where task_id = #{taskId} and department_id = sd.dept_id order by si.id desc limit 1 ) file_url-->
<!--               FROM boot_do.sys_dept sd join sys_user su on sd.dept_id = su.dept_id-->
<!--               join ass_award_enterprise_project pro on pro.create_uid = su.user_id-->
<!--               <if test="isAssocation == true">-->
<!--                   join ass_award_assign_project ap on ap.pro_id = pro.id-->
<!--               </if>-->
<!--        <where>-->
<!--            and pro.publish_task_id = #{taskId}-->
<!--            <if test="isAssocation == false"> and pro.create_uid = #{enUid}</if>-->
<!--        </where>-->
<!--        <choose>-->
<!--            <when test="sort != null and sort.trim() != ''">-->
<!--                order by ${sort} ${order}-->
<!--            </when>-->
<!--            <otherwise>-->
<!--                order by sd.dept_id desc-->
<!--            </otherwise>-->
<!--        </choose>-->
<!--        <if test="offset != null and limit != null">-->
<!--            limit #{offset}, #{limit}-->
<!--        </if>-->
<!--    </select>-->



<!--    <select id="countEnterpriseInfo" resultType="java.lang.Integer">-->
<!--        SELECT count(distinct sd.dept_id) FROM boot_do.sys_dept sd join sys_user su on sd.dept_id = su.dept_id-->
<!--        join ass_award_enterprise_project pro on pro.create_uid = su.user_id-->
<!--        <if test="isAssocation == true">-->
<!--            join ass_award_assign_project ap on ap.pro_id = pro.id-->
<!--        </if>-->
<!--        <where>-->
<!--            and pro.publish_task_id = #{taskId}-->
<!--            <if test="isAssocation == false"> and pro.create_uid = #{enUid}</if>-->
<!--        </where>-->

<!--    </select>-->

    <select id="listEnterpriseInfo" resultType="com.bootdo.cpe.domain.ApplyEnterpriseInfo">
        SELECT distinct sd.dept_id id,sd.name enterprise_name,
        (select store_path from ass_surver_enterprise_sort_info si where task_id = #{taskId} and department_id = sd.dept_id order by si.id desc limit 1 ) file_url
        FROM boot_do.sys_dept sd join sys_user su on sd.dept_id = su.dept_id
        join ass_award_enterprise_project pro on pro.create_uid = su.user_id
        LEFT join ass_award_assign_project ap on ap.pro_id = pro.id
        <where>
            pro.publish_task_id = #{taskId}
            <if test="isAssocation == true">
                and (ap.assign_uid != -100 or ap.assign_uid is null)
            </if>
            <if test="isAssocation == false">
                and pro.create_uid = #{enUid}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by sd.dept_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="countEnterpriseInfo" resultType="java.lang.Integer">
        SELECT count(distinct sd.dept_id) FROM boot_do.sys_dept sd join sys_user su on sd.dept_id = su.dept_id
        join ass_award_enterprise_project pro on pro.create_uid = su.user_id
        LEFT join ass_award_assign_project ap on ap.pro_id = pro.id
        <where>
            pro.publish_task_id = #{taskId}
            <if test="isAssocation == true">
                and (ap.assign_uid != -100 or ap.assign_uid is null)
            </if>
            <if test="isAssocation == false">
                and pro.create_uid = #{enUid}
            </if>
        </where>
    </select>

    <select id="getUploadFileList" resultType="com.bootdo.common.domain.FileDO">
        SELECT
            sf.*
        FROM
            boot_do.ass_enterprise_docs ed
                JOIN
            sys_file sf ON ed.file_id = sf.id
        WHERE
            ed.pro_id = #{proId}
          AND ed.file_type IN
        <foreach collection="fileTypeList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY id DESC
    </select>
</mapper>
