<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.cpe.dao.SurverEnterpriseSortInfoDao">

	<select id="get" resultType="com.bootdo.cpe.domain.SurverEnterpriseSortInfoDO">
		select `id`,`task_id`,`opt_uid`,`department_id`,`file_id`,`store_path`,`created`,`updated`,`deleted` from ass_surver_enterprise_sort_info where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.cpe.domain.SurverEnterpriseSortInfoDO">
		select `id`,`task_id`,`opt_uid`,`department_id`,`file_id`,`store_path`,`created`,`updated`,`deleted` from ass_surver_enterprise_sort_info
        <where>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
		  		  <if test="departmentId != null and departmentId != ''"> and department_id = #{departmentId} </if>
		  		  <if test="fileId != null and fileId != ''"> and file_id = #{fileId} </if>
		  		  <if test="storePath != null and storePath != ''"> and store_path = #{storePath} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

 	<select id="count" resultType="int">
		select count(*) from ass_surver_enterprise_sort_info
		 <where>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="taskId != null and taskId != ''"> and task_id = #{taskId} </if>
		  		  <if test="optUid != null and optUid != ''"> and opt_uid = #{optUid} </if>
		  		  <if test="departmentId != null and departmentId != ''"> and department_id = #{departmentId} </if>
		  		  <if test="fileId != null and fileId != ''"> and file_id = #{fileId} </if>
		  		  <if test="storePath != null and storePath != ''"> and store_path = #{storePath} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="updated != null and updated != ''"> and updated = #{updated} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		</where>
	</select>

	<insert id="save" parameterType="com.bootdo.cpe.domain.SurverEnterpriseSortInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into ass_surver_enterprise_sort_info
		(
			`task_id`,
			`opt_uid`,
			`department_id`,
			`file_id`,
			`store_path`
		)
		values
		(
			#{taskId},
			#{optUid},
			#{departmentId},
			#{fileId},
			#{storePath}
		)
	</insert>

	<update id="update" parameterType="com.bootdo.cpe.domain.SurverEnterpriseSortInfoDO">
		update ass_surver_enterprise_sort_info
		<set>
			<if test="taskId != null">`task_id` = #{taskId}, </if>
			<if test="optUid != null">`opt_uid` = #{optUid}, </if>
			<if test="departmentId != null">`department_id` = #{departmentId}, </if>
			<if test="fileId != null">`file_id` = #{fileId}, </if>
			<if test="storePath != null">`store_path` = #{storePath}, </if>
			<if test="created != null">`created` = #{created}, </if>
			<if test="updated != null">`updated` = #{updated}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from ass_surver_enterprise_sort_info where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from ass_surver_enterprise_sort_info where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>
