<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" href="favicon.ico">
  	<link href="/css/semantic/semantic.min.css" th:href="@{/css/semantic/semantic.min.css}" rel="stylesheet">
	<link href="css/bootstrap.min.css?v=3.3.6"
		  th:href="@{/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
	<link href="/css/font-awesome.css?v=4.4.0"
		  th:href="@{/css/font-awesome.css?v=4.4.0}" rel="stylesheet">
	<link href="/css/plugins/bootstrap-table/bootstrap-table.min.css"
		  th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}"
		  rel="stylesheet">
	<link href="/css/plugins/jsTree/style.min.css" rel="stylesheet">
	<link href="/css/plugins/jqTreeGrid/jquery.treegrid.css"
		  rel="stylesheet">
	<!--summernote css -->
	<link href="/css/plugins/summernote/summernote-0.8.8.css"
		  rel="stylesheet">
	<link href="css/animate.css" th:href="@{/css/animate.css}"
		  rel="stylesheet">
	<link href="/css/plugins/chosen/chosen.css" th:href="@{/css/plugins/chosen/chosen.css}" rel="stylesheet">
	<link href="/css/plugins/bootstrap-select/bootstrap-select.css" th:href="@{/css/plugins/bootstrap-select/bootstrap-select.css}" rel="stylesheet">
	<link href="/css/style.css?v=4.1.0" th:href="@{/css/style.css?v=4.1.0}"
		  rel="stylesheet">
	<link href="css/bootstrap.min14ed.css?v=3.3.6" th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
	<link href="css/font-awesome.min93e3.css?v=4.4.0" th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
	<link href="css/plugins/iCheck/custom.css" th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet">
	<link href="css/animate.min.css" th:href="@{/css/animate.min.css}" rel="stylesheet">
	<link href="css/style.min862f.css?v=4.1.0" th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet">
	<link href="css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" th:href="@{/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet">
	<link href="css/plugins/cropper/cropper.min.css" th:href="@{/css/plugins/cropper/cropper.min.css}" rel="stylesheet">
	<link href="css/plugins/switchery/switchery.css" th:href="@{/css/plugins/switchery/switchery.css}" rel="stylesheet">
	<link href="css/plugins/jasny/jasny-bootstrap.min.css" th:href="@{/css/plugins/jasny/jasny-bootstrap.min.css}" rel="stylesheet">
	<link href="css/plugins/nouslider/jquery.nouislider.css" th:href="@{/css/plugins/nouslider/jquery.nouislider.css}" rel="stylesheet">
	<link href="css/plugins/datapicker/datepicker3.css" th:href="@{/css/plugins/datapicker/datepicker3.css}" rel="stylesheet">
	<link href="css/plugins/ionRangeSlider/ion.rangeSlider.css" th:href="@{/css/plugins/ionRangeSlider/ion.rangeSlider.css}" rel="stylesheet">
	<link href="css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" th:href="@{/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css}" rel="stylesheet">
	<link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" th:href="@{/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet">
	<link href="css/plugins/clockpicker/clockpicker.css" th:href="@{/css/plugins/clockpicker/clockpicker.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/plugins/simditor/simditor.css" th:href="@{/css/plugins/simditor/simditor.css}" />
    <style>
		a.disabled {
			pointer-events: none;
			filter: alpha(opacity=50); /*IE滤镜，透明度50%*/
			-moz-opacity: 0.5; /*Firefox私有，透明度50%*/
			opacity: 0.5; /*其他，透明度50%*/
		}
	</style>

</head>

<head th:fragment="bootstrap">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" th:href="@{/css/semantic/semantic.min.css}">
	<link rel="shortcut icon" th:href="@{/favicon.ico}">
	<link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
	<link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
	<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet">
	<link th:href="@{/css/animate.min.css}" rel="stylesheet">
	<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet">
	<link th:href="@{/css/plugins/jqgrid/ui.jqgridffe4.css?0820}" rel="stylesheet">
	<link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/plugins/markdown/bootstrap-markdown.min.css}" />
</head>

<head th:fragment="header_lu">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" th:href="@{/css/semantic/semantic.min.css}">
</head>
<div th:fragment="footer_lu">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/semantic/semantic.min.js"></script>
	<script src="/js/plugins/layer/laydate/laydate.js"></script>
</div>

<div th:fragment="footer">
	<script src="/js/jquery.min.js?v=2.1.4"></script>
	<script src="/js/bootstrap.min.js?v=3.3.6"></script>
	<script src="/js/plugins/bootstrap-select/bootstrap-select.js"></script>
	<script src="/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
	<script
			src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="/js/plugins/validate/messages_zh.min.js"></script>
	<script src="/js/plugins/jsTree/jstree.min.js"></script>
	<script src="/js/plugins/jqTreeGrid/jquery.treegrid.min.js"></script>
	<script src="/js/plugins/jqTreeGrid/jquery.treegrid.extension.js"></script>
	<script src="/js/plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js"></script>
	<script src="/js/plugins/chosen/chosen.jquery.js"></script>
	<script src="/js/plugins/layer/layer.js"></script>
	<script src="/js/content.js?v=1.0.0"></script>
	<script src="/js/plugins/datepicker/bootstrap-datetimepicker.js"></script>
	<!--summernote-->
	<script src="/js/plugins/summernote/summernote.js"></script>
	<script src="/js/plugins/summernote/summernote-zh-CN.min.js"></script>
	<script src="/js/ajax-util.js"></script>
	<script src="/js/content.min.js?v=1.0.0"></script>
	<script src="/js/plugins/iCheck/icheck.min.js"></script>
	<script src="/js/plugins/jsKnob/jquery.knob.js"></script>
	<script src="/js/plugins/jasny/jasny-bootstrap.min.js"></script>
	<script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
	<script src="/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
	<script src="/js/plugins/nouslider/jquery.nouislider.min.js"></script>
	<script src="/js/plugins/switchery/switchery.js"></script>
	<script src="/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
	<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
	<script src="/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
	<script src="/js/plugins/clockpicker/clockpicker.js"></script>
	<script src="/js/plugins/cropper/cropper.min.js"></script>
	<script src="/js/demo/form-advanced-demo.min.js"></script>
	<script type="text/javascript" src="/js/plugins/simditor/module.js"></script>
	<script type="text/javascript" src="/js/plugins/simditor/uploader.js"></script>
	<script type="text/javascript" src="/js/plugins/simditor/hotkeys.js"></script>
	<script type="text/javascript" src="/js/plugins/simditor/simditor.js"></script>
	<script src="/js/plugins/layer/laydate/laydate.js"></script>
	<script src="/js/semantic/semantic.min.js"></script>
	<script type="text/javascript" src="/js/contabs.js"></script>
</div>
