<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="include :: header"></head>


<body>
    <div class="ui top attached tabular menu">
        <a th:href="@{/surverApply/toApplyMajorMaterialsUseList(proId=${proId},taskId=${taskId})}" class="item">列表</a>
        <a th:if="${readonly} eq null or ${readonly} ne 1" href="#" class="active item">新增</a>
    </div>
    <div class="ui container">
        <div class="ui bottom attached segment">
            <form id="signupForm" action="" class="ui basic form">
                <input type="hidden" id="isReadonly" th:value="${readonly}">
                <input id="id" name="id" th:value="${majorMaterials.id}"  type="hidden">
                <input id="proId" name="proId" th:value="${proId}"  type="hidden">
                <input id="taskId" name="taskId" th:value="${taskId}"  type="hidden">


                <h4 class="ui red horizontal divider header">基本信息 </h4>

                <div class="ui two fields">
                    <div class="ui field">
                        <label>原材料名称</label>
                        <input type="text" name="materialsName" th:value="${majorMaterials.materialsName}" placeholder="原材料名称">
                    </div>
                    <div class="ui field">
                        <label>计量单位</label>
                        <input type="text" contenteditable="true" name="calUnit" th:value="${majorMaterials.calUnit}" placeholder="计量单位">
                    </div>
                </div>
                <div class="ui two fields">
                    <div class="ui field">
                        <label>设计值</label>
                        <input type="text" contenteditable="true" name="setVal"  th:value="${majorMaterials.setVal}" placeholder="设计值">
                    </div>
                    <div class="ui field">
                        <label>实际值</label>
                        <input type="text" contenteditable="true" name="realVal" th:value="${majorMaterials.realVal}"  placeholder="实际值">
                    </div>
                </div>
                <div class="ui two fields">
                    <div class="ui field">
                        <label>国内先进水平</label>
                        <input type="text" name="innerAdvancedLevel" th:value="${majorMaterials.innerAdvancedLevel}"  placeholder="国内先进水平">
                    </div>
                    <div class="ui field">
                        <label>国际先进水平</label>
                        <input type="text" name="outerAdvancedLevel" th:value="${majorMaterials.outerAdvancedLevel}"  placeholder="国际先进水平">
                    </div>
                </div>
                <div class="ui field">
                    <label>备注</label>
                    <input type="text" name="memo" th:value="${majorMaterials.memo}"  placeholder="备注">
                </div>
                <div class="ui field">
                    <p style="color: red;">
                        说 明：</br>
                        1. 消耗定额指吨成品消耗；</br>
                        2. 根据申报等级填写相应的国内或国际先进水平。</br>
                    </p>
                </div>

                <div class="ui error message"></div>
                <div class="ui basic center aligned segment">
                    <div class="ui submit button">保存</div>
                </div>
            </form>
        </div>
    </div>
    <!-- 详情页面 -->
    <div th:include="include :: footer"></div>
    <script type="text/javascript" src="/js/appjs/cpe/surverDesiginMajorMaterialsUseInfo/add.js?v=1.0"></script>
    <script type="text/javascript" src="/js/appjs/cpe/petroleum_engineering_award/readonly.js"></script>

    <script>
        $('.ui.dropdown').dropdown();

        function addimage() {
            $("#fileimage").trigger("click");
        }

        $('.ui.form').form({
            on: 'blur',
            fields: {
                materialsName: {
                    identifier: 'materialsName',
                    rules: [{
                        type: 'empty',
                        prompt: '请填写原材料名称'
                    }]
                },
                calUnit: {
                    identifier: 'calUnit',
                    rules: [{
                        type: 'empty',
                        prompt: '请填写设计单位'
                    }]
                },
                setVal: {
                    identifier: 'setVal',
                    rules: [{
                        type: 'empty',
                        prompt: '请填写设计值'
                    }]
                },
                realVal: {
                    identifier: 'realVal',
                    rules: [{
                        type: 'empty',
                        prompt: '请填写实际值'
                    }]
                },
                innerAdvancedLevel: {
                    identifier: 'innerAdvancedLevel',
                    rules: [{
                        type: 'empty',
                        prompt: '请填写国内先进水平'
                    }]
                },
                outerAdvancedLevel: {
                    identifier: 'outerAdvancedLevel',
                    rules: [{
                        type: 'empty',
                        prompt: '请填写国际先进水平'
                    }]
                }
            }
        });
    </script>
</body>

</html>
